<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'SettlementAcknowledgement List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">End Of Lease Settlement Id <p-sortIcon field="EndOfLeaseSettlementId" /> </th> 
<th style="width:200px">Response Code <p-sortIcon field="ResponseCode" /> </th> 
<th style="width:200px">Responded At <p-sortIcon field="RespondedAt" /> </th> 
<th style="width:200px">Responded By Party Id <p-sortIcon field="RespondedByPartyId" /> </th> 
<th style="width:200px">Resolved At <p-sortIcon field="ResolvedAt" /> </th> 
<th style="width:200px">Record Status <p-sortIcon field="RecordStatus" /> </th> 

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.Id}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.EndOfLeaseSettlementId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ResponseCode}}</td>
 <td style="width:200px">{{obj.RespondedAt | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.RespondedByPartyId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ResolvedAt | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.RecordStatus}}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  