<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="RFQ Id" [value]="rFQLine.RFQId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Purchase Requisition Line Id" [value]="rFQLine.PurchaseRequisitionLineId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Line No" [value]="rFQLine.LineNo">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Description" [value]="rFQLine.Description">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Quantity" [value]="rFQLine.Quantity">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="UOM Id" [value]="rFQLine.UOMId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Specifications Json" [value]="rFQLine.SpecificationsJson">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Required By Date" [value]="rFQLine.RequiredByDate">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>