<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'RFQLine List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">RFQ Line Id <p-sortIcon field="RFQLineId" /> </th> 
<th style="width:200px">RFQ Id <p-sortIcon field="RFQId" /> </th> 
<th style="width:200px">Purchase Requisition Line Id <p-sortIcon field="PurchaseRequisitionLineId" /> </th> 
<th style="width:200px">Line No <p-sortIcon field="LineNo" /> </th> 
<th style="width:200px">Quantity <p-sortIcon field="Quantity" /> </th> 
<th style="width:200px">UOM Id <p-sortIcon field="UOMId" /> </th> 
<th style="width:200px">Required By Date <p-sortIcon field="RequiredByDate" /> </th> 

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.RFQLineId}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.RFQLineId}}</td>
 <td style="width:200px">{{obj.RFQId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.PurchaseRequisitionLineId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.LineNo | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.Quantity | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.UOMId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.RequiredByDate | date:'dd-MMM-yyyy' }}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  
