 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="From StatusId" class="mb-1">FromStatusId</label>
        <p-dropdown
            inputId="FromStatusId" 
            [options]="fromstatusidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="FromStatusId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('FromStatusId')"
											label="From StatusId">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="To StatusId" class="mb-1">ToStatusId</label>
        <p-dropdown
            inputId="ToStatusId" 
            [options]="tostatusidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ToStatusId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ToStatusId')"
											label="To StatusId">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Reason Code" class="mb-1">ReasonCode</label>
        <p-dropdown
            inputId="ReasonCode" 
            [options]="reasoncodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ReasonCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ReasonCode')"
											label="Reason Code">
										</app-validation-errors></div><div class="flex flex-col w-full">                 <label for="address">Remarks</label>
                    <textarea size="small" pTextarea placeholder="Type Remarks" [autoResize]="true" rows="3" class="w-full"
										cols="30" formControlName="Remarks"
										[ngClass]="{'is-invalid': (editForm.get('Remarks').touched || editForm.get('Remarks').dirty) && !editForm.get('Remarks').valid }"></textarea>
<app-validation-errors [type]="'text'" [control]="editForm.get('Remarks')"
											label="Remarks">
										</app-validation-errors>


               </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="EffectiveFrom">Effective From 
							</label> 
							<p-calendar id="EffectiveFrom"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveFrom"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveFrom')"
											label="Effective From">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">			
							<label for="EffectiveTo">Effective To 
							</label> 
							<p-calendar id="EffectiveTo"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveTo"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveTo')"
											label="Effective To">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>