<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		       <form [formGroup]="editForm" (ngSubmit)="Save()">
 				<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="AssetId" class="mb-1">AssetId</label>
        <p-dropdown
            inputId="AssetId" 
            [options]="assetidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AssetId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AssetId')"
											label="AssetId">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="From LocationId" class="mb-1">FromLocationId</label>
        <p-dropdown
            inputId="FromLocationId" 
            [options]="fromlocationidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="FromLocationId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('FromLocationId')"
											label="From LocationId">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="To LocationId" class="mb-1">ToLocationId</label>
        <p-dropdown
            inputId="ToLocationId" 
            [options]="tolocationidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ToLocationId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ToLocationId')"
											label="To LocationId">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Party LocationId" class="mb-1">PartyLocationId</label>
        <p-dropdown
            inputId="PartyLocationId" 
            [options]="partylocationidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="PartyLocationId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('PartyLocationId')"
											label="Party LocationId">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Movement Type" class="mb-1">MovementType</label>
        <p-dropdown
            inputId="MovementType" 
            [options]="movementtypeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="MovementType"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('MovementType')"
											label="Movement Type">
										</app-validation-errors></div><div class="flex flex-col w-full">			
							<label for="MovementDateTime">Movement DateTime 
							</label> 
							<p-calendar id="MovementDateTime"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="MovementDateTime"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('MovementDateTime')"
											label="Movement DateTime">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Reference Type" class="mb-1">ReferenceType</label>
        <p-dropdown
            inputId="ReferenceType" 
            [options]="referencetypeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ReferenceType"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ReferenceType')"
											label="Reference Type">
										</app-validation-errors></div><div class="flex flex-col w-full">					
							<label for="ReferenceId">Reference Id 
							</label> 
							<input pInputText id="ReferenceId" type="text" pSize="small"	formControlName="ReferenceId"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('ReferenceId')"
											label="Reference Id">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="EffectiveFrom">Effective From 
							</label> 
							<p-calendar id="EffectiveFrom"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveFrom"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveFrom')"
											label="Effective From">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">			
							<label for="EffectiveTo">Effective To 
							</label> 
							<p-calendar id="EffectiveTo"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveTo"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveTo')"
											label="Effective To">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 	
                     </form>			 

			</div>
		</div>
	</div>
</div>

 

