<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Credit ApplicationId" [value]="creditApplicantParty.CreditApplicationId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Party Id" [value]="creditApplicantParty.PartyId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Credit Party RoleId" [value]="creditApplicantParty.CreditPartyRoleId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="IsPrimary" [value]="creditApplicantParty.IsPrimary">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Guarantee Amount" [value]="creditApplicantParty.GuaranteeAmount">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="CurrencyCode" [value]="creditApplicantParty.CurrencyCode">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>