 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">					
							<label for="RoleCode">Role Code 
							</label> 
							<input pInputText id="RoleCode" type="text" pSize="small"	formControlName="RoleCode"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('RoleCode')"
											label="Role Code">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">					
							<label for="RoleName">Role Name 
							</label> 
							<input pInputText id="RoleName" type="text" pSize="small"	formControlName="RoleName"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('RoleName')"
											label="Role Name">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Role Type" class="mb-1">RoleType</label>
        <p-dropdown
            inputId="RoleType" 
            [options]="roletypeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RoleType"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RoleType')"
											label="Role Type">
										</app-validation-errors></div><div class="flex flex-col w-full">					
							<label for="Description">Description 
							</label> 
							<input pInputText id="Description" type="text" pSize="small"	formControlName="Description"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('Description')"
											label="Description">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><label class="pt-8"></label>
										<div class="flex items-center gap-2">
											<p-checkbox inputId="IsSystemRole" binary="true" formControlName="IsSystemRole">
											</p-checkbox>
											<label for="IsSystemRole">Is System Role</label>
										</div>
										<div class="validation-space"></div></div><div class="flex flex-col w-full"> <label for="Scope Type" class="mb-1">ScopeType</label>
        <p-dropdown
            inputId="ScopeType" 
            [options]="scopetypeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ScopeType"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ScopeType')"
											label="Scope Type">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div><div class="flex flex-col w-full">			
							<label for="EffectiveFrom">Effective From 
							</label> 
							<p-calendar id="EffectiveFrom"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveFrom"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveFrom')"
											label="Effective From">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full">			
							<label for="EffectiveTo">Effective To 
							</label> 
							<p-calendar id="EffectiveTo"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveTo"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveTo')"
											label="Effective To">
										</app-validation-errors>
						 </div></div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>