<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Plan Code" [value]="subscriptionPlan.PlanCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Plan Name" [value]="subscriptionPlan.PlanName">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Max Users" [value]="subscriptionPlan.MaxUsers">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Max Assets" [value]="subscriptionPlan.MaxAssets">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Storage GB" [value]="subscriptionPlan.StorageGB">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Description" [value]="subscriptionPlan.Description">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>