<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="End Of Lease Case Id" [value]="assetReturn.EndOfLeaseCaseId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Asset Id" [value]="assetReturn.AssetId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Asset Return Schedule Id" [value]="assetReturn.AssetReturnScheduleId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Returned At" [value]="assetReturn.ReturnedAt">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Return Location Id" [value]="assetReturn.ReturnLocationId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Received By User Id" [value]="assetReturn.ReceivedByUserId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Final Measure Reading Id" [value]="assetReturn.FinalMeasureReadingId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Return Inspection Id" [value]="assetReturn.ReturnInspectionId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Return Status Code" [value]="assetReturn.ReturnStatusCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Remarks" [value]="assetReturn.Remarks">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>