<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Calendar Code" [value]="businessCalendar.CalendarCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Calendar Name" [value]="businessCalendar.CalendarName">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Country Code" [value]="businessCalendar.CountryCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="State Province Code" [value]="businessCalendar.StateProvinceCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Weekend Pattern" [value]="businessCalendar.WeekendPattern">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="TimeZone Id" [value]="businessCalendar.TimeZoneId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Day Start Time" [value]="businessCalendar.DayStartTime">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Day End Time" [value]="businessCalendar.DayEndTime">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Record Status" [value]="businessCalendar.RecordStatus">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Effective From" [value]="businessCalendar.EffectiveFrom">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>