<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'ContractEvent List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">Contract Event Id <p-sortIcon field="ContractEventId" /> </th> 
<th style="width:200px">Lease Contract Id <p-sortIcon field="LeaseContractId" /> </th> 
<th style="width:200px">Event Type Code <p-sortIcon field="EventTypeCode" /> </th> 
<th style="width:200px">Event Date Time <p-sortIcon field="EventDateTime" /> </th> 
<th style="width:200px">Reference Type <p-sortIcon field="ReferenceType" /> </th> 
<th style="width:200px">Reference Id <p-sortIcon field="ReferenceId" /> </th> 
<th style="width:200px">Event Summary <p-sortIcon field="EventSummary" /> </th> 
<th style="width:200px">Event Payload Json <p-sortIcon field="EventPayloadJson" /> </th> 
<th style="width:200px">Performed By <p-sortIcon field="PerformedBy" /> </th> 

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.ContractEventId}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.ContractEventId}}</td>
 <td style="width:200px">{{obj.LeaseContractId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.EventTypeCode}}</td>
 <td style="width:200px">{{obj.EventDateTime | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.ReferenceType}}</td>
 <td style="width:200px">{{obj.ReferenceId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.EventSummary}}</td>
 <td style="width:200px">{{obj.EventPayloadJson}}</td>
 <td style="width:200px">{{obj.PerformedBy | number:'1.0':'en-US' }}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  
