 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">					
							<label for="AssetId">AssetId 
							</label> 
							<input pInputText id="AssetId" type="text" pSize="small"	formControlName="AssetId"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('AssetId')"
											label="AssetId">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="IdentifierTypeCode" class="mb-1">IdentifierTypeCode</label>
        <p-dropdown
            inputId="IdentifierTypeCode" 
            [options]="identifiertypecodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="IdentifierTypeCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('IdentifierTypeCode')"
											label="IdentifierTypeCode">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">					
							<label for="IdentifierValue">Identifier Value 
							</label> 
							<input pInputText id="IdentifierValue" type="text" pSize="small"	formControlName="IdentifierValue"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('IdentifierValue')"
											label="Identifier Value">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Issuing CountryCode" class="mb-1">IssuingCountryCode</label>
        <p-dropdown
            inputId="IssuingCountryCode" 
            [options]="issuingcountrycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="IssuingCountryCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('IssuingCountryCode')"
											label="Issuing CountryCode">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="IssuingState Code" class="mb-1">IssuingStateCode</label>
        <p-dropdown
            inputId="IssuingStateCode" 
            [options]="issuingstatecodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="IssuingStateCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('IssuingStateCode')"
											label="IssuingState Code">
										</app-validation-errors></div><div class="flex flex-col w-full"><label class="pt-8"></label>
										<div class="flex items-center gap-2">
											<p-checkbox inputId="IsPrimary" binary="true" formControlName="IsPrimary">
											</p-checkbox>
											<label for="IsPrimary">IsPrimary</label>
										</div>
										<div class="validation-space"></div></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><label class="pt-8"></label>
										<div class="flex items-center gap-2">
											<p-checkbox inputId="IsVerified" binary="true" formControlName="IsVerified">
											</p-checkbox>
											<label for="IsVerified">IsVerified</label>
										</div>
										<div class="validation-space"></div></div><div class="flex flex-col w-full">			
							<label for="EffectiveFrom">Effective From 
							</label> 
							<p-calendar id="EffectiveFrom"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveFrom"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveFrom')"
											label="Effective From">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="EffectiveTo">Effective To 
							</label> 
							<p-calendar id="EffectiveTo"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveTo"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveTo')"
											label="Effective To">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>