<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'PurchaseOrderAmendment List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">Purchase Order Amendment Id <p-sortIcon field="PurchaseOrderAmendmentId" /> </th> 
<th style="width:200px">Purchase Order Id <p-sortIcon field="PurchaseOrderId" /> </th> 
<th style="width:200px">Amendment No <p-sortIcon field="AmendmentNo" /> </th> 
<th style="width:200px">Amendment Date <p-sortIcon field="AmendmentDate" /> </th> 
<th style="width:200px">Reason Code <p-sortIcon field="ReasonCode" /> </th> 
<th style="width:200px">Previous Version No <p-sortIcon field="PreviousVersionNo" /> </th> 
<th style="width:200px">New Version No <p-sortIcon field="NewVersionNo" /> </th> 
<th style="width:200px">Approval Request Id <p-sortIcon field="ApprovalRequestId" /> </th> 
<th style="width:200px">Changed By <p-sortIcon field="ChangedBy" /> </th> 
<th style="width:200px">Changed On <p-sortIcon field="ChangedOn" /> </th> 

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.Id}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.PurchaseOrderAmendmentId}}</td>
 <td style="width:200px">{{obj.PurchaseOrderId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.AmendmentNo | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.AmendmentDate | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.ReasonCode}}</td>
 <td style="width:200px">{{obj.PreviousVersionNo | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.NewVersionNo | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ApprovalRequestId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ChangedBy | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ChangedOn | date:'dd-MMM-yyyy' }}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  