<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Receipt Status Id" [value]="paymentReceipt.ReceiptStatusId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Receiving Organisation Id" [value]="paymentReceipt.ReceivingOrganisationId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Customer Party Id" [value]="paymentReceipt.CustomerPartyId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Receipt Date" [value]="paymentReceipt.ReceiptDate">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Currency Code" [value]="paymentReceipt.CurrencyCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Receipt Amount" [value]="paymentReceipt.ReceiptAmount">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Allocated Amount" [value]="paymentReceipt.AllocatedAmount">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Unapplied Amount" [value]="paymentReceipt.UnappliedAmount">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Payment Method" [value]="paymentReceipt.PaymentMethod">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Organisation Bank Account Id" [value]="paymentReceipt.OrganisationBankAccountId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="External Transaction Ref" [value]="paymentReceipt.ExternalTransactionRef">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Payer Name Snapshot" [value]="paymentReceipt.PayerNameSnapshot">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Verified At Utc" [value]="paymentReceipt.VerifiedAtUtc">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Record Status" [value]="paymentReceipt.RecordStatus">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>