<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Asset Id" [value]="assetLifecycleEvent.AssetId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Event Type Id" [value]="assetLifecycleEvent.EventTypeId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Event Date Time" [value]="assetLifecycleEvent.EventDateTime">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Organisation Unit Id" [value]="assetLifecycleEvent.OrganisationUnitId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Party Id" [value]="assetLifecycleEvent.PartyId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Location Id" [value]="assetLifecycleEvent.LocationId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Reference Type" [value]="assetLifecycleEvent.ReferenceType">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Reference Id" [value]="assetLifecycleEvent.ReferenceId">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>