<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		       <form [formGroup]="editForm" (ngSubmit)="Save()">
 				<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Asset Id" class="mb-1">AssetId</label>
        <p-dropdown
            inputId="AssetId" 
            [options]="assetidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AssetId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AssetId')"
											label="Asset Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Event Type Id" class="mb-1">EventTypeId</label>
        <p-dropdown
            inputId="EventTypeId" 
            [options]="eventtypeidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="EventTypeId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('EventTypeId')"
											label="Event Type Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="EventDateTime">Event Date Time 
							</label> 
							<p-calendar id="EventDateTime"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EventDateTime"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EventDateTime')"
											label="Event Date Time">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Organisation Unit Id" class="mb-1">OrganisationUnitId</label>
        <p-dropdown
            inputId="OrganisationUnitId" 
            [options]="organisationunitidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="OrganisationUnitId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('OrganisationUnitId')"
											label="Organisation Unit Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Party Id" class="mb-1">PartyId</label>
        <p-dropdown
            inputId="PartyId" 
            [options]="partyidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="PartyId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('PartyId')"
											label="Party Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Location Id" class="mb-1">LocationId</label>
        <p-dropdown
            inputId="LocationId" 
            [options]="locationidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="LocationId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('LocationId')"
											label="Location Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">					
							<label for="ReferenceType">Reference Type 
							</label> 
							<input pInputText id="ReferenceType" type="text" pSize="small"	formControlName="ReferenceType"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('ReferenceType')"
											label="Reference Type">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">							<label for="ReferenceId">Reference Id 
							</label> 
							<p-inputNumber id="ReferenceId"  pSize="small"	formControlName="ReferenceId"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('ReferenceId')"
											label="Reference Id">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full">                 <label for="address">Summary</label>
                    <textarea size="small" pTextarea placeholder="Type Summary" [autoResize]="true" rows="3" class="w-full"
										cols="30" formControlName="Summary"
										[ngClass]="{'is-invalid': (editForm.get('Summary').touched || editForm.get('Summary').dirty) && !editForm.get('Summary').valid }"></textarea>
<app-validation-errors [type]="'text'" [control]="editForm.get('Summary')"
											label="Summary">
										</app-validation-errors>


               </div></div>

					</div>
				</div>
 			</p-fluid> 	
                     </form>			 

			</div>
		</div>
	</div>
</div>

 

