<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Asset Id" [value]="maintenanceWorkOrder.AssetId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Maintenance Request Id" [value]="maintenanceWorkOrder.MaintenanceRequestId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Maintenance Schedule Id" [value]="maintenanceWorkOrder.MaintenanceScheduleId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Lease Contract Id" [value]="maintenanceWorkOrder.LeaseContractId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Lease Contract Asset Id" [value]="maintenanceWorkOrder.LeaseContractAssetId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Maintenance Type Id" [value]="maintenanceWorkOrder.MaintenanceTypeId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Service Provider Party Id" [value]="maintenanceWorkOrder.ServiceProviderPartyId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Service Location Id" [value]="maintenanceWorkOrder.ServiceLocationId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Responsible Organisation Unit Id" [value]="maintenanceWorkOrder.ResponsibleOrganisationUnitId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Priority Code" [value]="maintenanceWorkOrder.PriorityCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Work Order Status Code" [value]="maintenanceWorkOrder.WorkOrderStatusCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Planned Start At" [value]="maintenanceWorkOrder.PlannedStartAt">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Actual Start At" [value]="maintenanceWorkOrder.ActualStartAt">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Actual End At" [value]="maintenanceWorkOrder.ActualEndAt">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Estimate Amount" [value]="maintenanceWorkOrder.EstimateAmount">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Actual Amount" [value]="maintenanceWorkOrder.ActualAmount">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Currency Code" [value]="maintenanceWorkOrder.CurrencyCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Customer Chargeable" [value]="maintenanceWorkOrder.CustomerChargeable">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Insurance Claim Id" [value]="maintenanceWorkOrder.InsuranceClaimId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Record Status" [value]="maintenanceWorkOrder.RecordStatus">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>