 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Lease Contract Id" class="mb-1">LeaseContractId</label>
        <p-dropdown
            inputId="LeaseContractId" 
            [options]="leasecontractidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="LeaseContractId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('LeaseContractId')"
											label="Lease Contract Id">
										</app-validation-errors></div><div class="flex flex-col w-full">					
							<label for="AmendmentNo">Amendment No 
							</label> 
							<input pInputText id="AmendmentNo" type="text" pSize="small"	formControlName="AmendmentNo"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('AmendmentNo')"
											label="Amendment No">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="FromVersionNo">From Version No 
							</label> 
							<p-inputNumber id="FromVersionNo"  pSize="small"	formControlName="FromVersionNo"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('FromVersionNo')"
											label="From Version No">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">							<label for="ToVersionNo">To Version No 
							</label> 
							<p-inputNumber id="ToVersionNo"  pSize="small"	formControlName="ToVersionNo"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('ToVersionNo')"
											label="To Version No">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Amendment Type Code" class="mb-1">AmendmentTypeCode</label>
        <p-dropdown
            inputId="AmendmentTypeCode" 
            [options]="amendmenttypecodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AmendmentTypeCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AmendmentTypeCode')"
											label="Amendment Type Code">
										</app-validation-errors></div><div class="flex flex-col w-full">			
							<label for="RequestedDate">Requested Date 
							</label> 
							<p-calendar id="RequestedDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="RequestedDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('RequestedDate')"
											label="Requested Date">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="EffectiveDate">Effective Date 
							</label> 
							<p-calendar id="EffectiveDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveDate')"
											label="Effective Date">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">					
							<label for="Reason">Reason 
							</label> 
							<input pInputText id="Reason" type="text" pSize="small"	formControlName="Reason"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('Reason')"
											label="Reason">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Amendment Status Code" class="mb-1">AmendmentStatusCode</label>
        <p-dropdown
            inputId="AmendmentStatusCode" 
            [options]="amendmentstatuscodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AmendmentStatusCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AmendmentStatusCode')"
											label="Amendment Status Code">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Approval Request Id" class="mb-1">ApprovalRequestId</label>
        <p-dropdown
            inputId="ApprovalRequestId" 
            [options]="approvalrequestidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ApprovalRequestId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ApprovalRequestId')"
											label="Approval Request Id">
										</app-validation-errors></div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full">			
							<label for="ExecutedOn">Executed On 
							</label> 
							<p-calendar id="ExecutedOn"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="ExecutedOn"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('ExecutedOn')"
											label="Executed On">
										</app-validation-errors>
						 </div></div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>