 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="PartyId" class="mb-1">PartyId</label>
        <p-dropdown
            inputId="PartyId" 
            [options]="partyidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="PartyId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('PartyId')"
											label="PartyId">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="OrganisationId" class="mb-1">OrganisationId</label>
        <p-dropdown
            inputId="OrganisationId" 
            [options]="organisationidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="OrganisationId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('OrganisationId')"
											label="OrganisationId">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="CreditDecisionId" class="mb-1">CreditDecisionId</label>
        <p-dropdown
            inputId="CreditDecisionId" 
            [options]="creditdecisionidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CreditDecisionId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CreditDecisionId')"
											label="CreditDecisionId">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="CurrencyCode" class="mb-1">CurrencyCode</label>
        <p-dropdown
            inputId="CurrencyCode" 
            [options]="currencycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CurrencyCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CurrencyCode')"
											label="CurrencyCode">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="LimitAmount">LimitAmount 
							</label> 
							<p-inputNumber id="LimitAmount"  pSize="small"	formControlName="LimitAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('LimitAmount')"
											label="LimitAmount">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">			
							<label for="EffectiveFrom">EffectiveFrom 
							</label> 
							<p-calendar id="EffectiveFrom"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveFrom"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveFrom')"
											label="EffectiveFrom">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="EffectiveTo">EffectiveTo 
							</label> 
							<p-calendar id="EffectiveTo"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveTo"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveTo')"
											label="EffectiveTo">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="LimitStatus" class="mb-1">LimitStatus</label>
        <p-dropdown
            inputId="LimitStatus" 
            [options]="limitstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="LimitStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('LimitStatus')"
											label="LimitStatus">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">                 <label for="address">Remarks</label>
                    <textarea size="small" pTextarea placeholder="Type Remarks" [autoResize]="true" rows="3" class="w-full"
										cols="30" formControlName="Remarks"
										[ngClass]="{'is-invalid': (editForm.get('Remarks').touched || editForm.get('Remarks').dirty) && !editForm.get('Remarks').valid }"></textarea>
<app-validation-errors [type]="'text'" [control]="editForm.get('Remarks')"
											label="Remarks">
										</app-validation-errors>


               </div></div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>