<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Asset Id" [value]="insuranceIncident.AssetId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Lease Contract Id" [value]="insuranceIncident.LeaseContractId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Incident Type Code" [value]="insuranceIncident.IncidentTypeCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Incident At" [value]="insuranceIncident.IncidentAt">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Location Id" [value]="insuranceIncident.LocationId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Customer Party Id" [value]="insuranceIncident.CustomerPartyId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Asset User Id" [value]="insuranceIncident.AssetUserId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Reported At" [value]="insuranceIncident.ReportedAt">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Reported By User Id" [value]="insuranceIncident.ReportedByUserId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Incident Description" [value]="insuranceIncident.IncidentDescription">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Police Reference No" [value]="insuranceIncident.PoliceReferenceNo">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Asset Drivable Flag" [value]="insuranceIncident.AssetDrivableFlag">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Status Code" [value]="insuranceIncident.StatusCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Record Status" [value]="insuranceIncident.RecordStatus">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>