<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'Details'" [form]="editForm">
					<p-splitbutton size="small" label="Options" [model]="menuItems"></p-splitbutton> 
				</app-toolbar-buttons>
				<app-spinner></app-spinner>

				<form [formGroup]="editForm" (ngSubmit)="Save()">
					<p-fluid>
						<div class="flex mt-8">
							<div class="card flex flex-col gap-4 w-full">
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">

										<label for="AssetNo">Asset Number
										</label>
										<input pInputText id="AssetNo" type="text" pSize="small"
											formControlName="AssetNo" />
										<app-validation-errors [type]="'text'" [control]="editForm.get('AssetNo')"
											label="Asset Number">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="AssetCategoryId" class="mb-1">Category</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="AssetCategoryId" [options]="assetcategoryidOptions"
											optionLabel="Text" optionValue="Value" formControlName="AssetCategoryId"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('AssetCategoryId')" label="Category">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">
										<label for="AssetTypeId" class="mb-1">Type</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="AssetTypeId" [options]="assettypeidOptions"
											optionLabel="Text" optionValue="Value" formControlName="AssetTypeId"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'" [control]="editForm.get('AssetTypeId')"
											label="Type">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="AssetMakeId" class="mb-1">Make</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="AssetMakeId" [options]="assetmakeidOptions"
											optionLabel="Text" optionValue="Value" formControlName="AssetMakeId"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'" [control]="editForm.get('AssetMakeId')"
											label="Make">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">
										<label for="AssetModelId" class="mb-1">Model</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="AssetModelId" [options]="assetmodelidOptions"
											optionLabel="Text" optionValue="Value" formControlName="AssetModelId"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'" [control]="editForm.get('AssetModelId')"
											label="Model">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="OwningOrganisationId" class="mb-1">Owning Organisation</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="OwningOrganisationId"
											[options]="owningorganisationidOptions" optionLabel="Text"
											optionValue="Value" formControlName="OwningOrganisationId"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('OwningOrganisationId')"
											label="Owning Organisation">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">
										<label for="ResponsibleOrganisationUnitId"
											class="mb-1">Responsible Organisation Unit</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="ResponsibleOrganisationUnitId"
											[options]="responsibleorganisationunitidOptions" optionLabel="Text"
											optionValue="Value" formControlName="ResponsibleOrganisationUnitId"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('ResponsibleOrganisationUnitId')"
											label="Responsible Organisation Unit">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="CurrentLocationId" class="mb-1">Current Location</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="CurrentLocationId" [options]="currentlocationidOptions"
											optionLabel="Text" optionValue="Value" formControlName="CurrentLocationId"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('CurrentLocationId')" label="Current Location">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">
										<label for="CurrentPartyId" class="mb-1">Current Party</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="CurrentPartyId" [options]="currentpartyidOptions"
											optionLabel="Text" optionValue="Value" formControlName="CurrentPartyId"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('CurrentPartyId')" label="Current Party">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="CurrentPartyLocationId" class="mb-1">Current Party Location</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="CurrentPartyLocationId"
											[options]="currentpartylocationidOptions" optionLabel="Text"
											optionValue="Value" formControlName="CurrentPartyLocationId"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('CurrentPartyLocationId')"
											label="Current Party Location">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">

										<label for="PrimarySerialNo">Primary Serial Number
										</label>
										<input pInputText id="PrimarySerialNo" type="text" pSize="small"
											formControlName="PrimarySerialNo" />
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('PrimarySerialNo')" label="Primary Serial Number">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">

										<label for="AcquisitionDate">Acquisition Date
										</label>
										<p-calendar id="AcquisitionDate" size="small" dateFormat="dd-MM-yy"
											[showIcon]="true" formControlName="AcquisitionDate"></p-calendar>
										<app-validation-errors [type]="'date'"
											[control]="editForm.get('AcquisitionDate')" label="Acquisition Date">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">

										<label for="InServiceDate">InService Date
										</label>
										<p-calendar id="InServiceDate" size="small" dateFormat="dd-MM-yy"
											[showIcon]="true" formControlName="InServiceDate"></p-calendar>
										<app-validation-errors [type]="'date'" [control]="editForm.get('InServiceDate')"
											label="InService Date">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="AcquisitionCurrencyCode"
											class="mb-1">Acquisition Currency</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="AcquisitionCurrencyCode"
											[options]="acquisitioncurrencycodeOptions" optionLabel="Text"
											optionValue="Value" formControlName="AcquisitionCurrencyCode"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('AcquisitionCurrencyCode')"
											label="Acquisition Currency">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">
										<label for="AcquisitionCost">Acquisition Cost
										</label>
										<p-inputNumber id="AcquisitionCost" pSize="small"
											formControlName="AcquisitionCost">
										</p-inputNumber>
										<app-validation-errors [type]="'number'"
											[control]="editForm.get('AcquisitionCost')" label="Acquisition Cost">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="ResidualValueAmount">Residual Value Amount
										</label>
										<p-inputNumber id="ResidualValueAmount" pSize="small"
											formControlName="ResidualValueAmount">
										</p-inputNumber>
										<app-validation-errors [type]="'number'"
											[control]="editForm.get('ResidualValueAmount')"
											label="Residual Value Amount">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
										<div class="flex flex-col w-full">
										<label for="Asset Status" class="mb-1">Asset Status</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="AssetStatusId" [options]="AssetStatusIdOptions"
											optionLabel="Text" optionValue="Value" formControlName="AssetStatusId"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('AssetStatusId')" label="Asset Status">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="ConditionGradeCode" class="mb-1">Condition Grade</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="ConditionGradeCode" [options]="conditiongradecodeOptions"
											optionLabel="Text" optionValue="Value" formControlName="ConditionGradeCode"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('ConditionGradeCode')" label="Condition Grade">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">
										<label class="pt-8"></label>
										<div class="flex items-center gap-2">
											<p-checkbox inputId="IsLeaseable" binary="true"
												formControlName="IsLeaseable">
											</p-checkbox>
											<label for="IsLeaseable">Is Leaseable</label>
										</div>
										<div class="validation-space"></div>
									</div>
									<div class="flex flex-col w-full">

										<label for="EffectiveFrom">Effective From
										</label>
										<p-calendar id="EffectiveFrom" size="small" dateFormat="dd-MM-yy"
											[showIcon]="true" formControlName="EffectiveFrom"></p-calendar>
										<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveFrom')"
											label="Effective From">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">

										<label for="EffectiveTo">Effective To
										</label>
										<p-calendar id="EffectiveTo" size="small" dateFormat="dd-MM-yy"
											[showIcon]="true" formControlName="EffectiveTo"></p-calendar>
										<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveTo')"
											label="Effective To">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="RecordStatus" class="mb-1">Record Status</label>
										<p-dropdown [filter]="true" filterBy="Text" inputId="RecordStatus" [options]="recordstatusOptions"
											optionLabel="Text" optionValue="Value" formControlName="RecordStatus"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors>
									</div>
								</div>

							</div>
						</div>
					</p-fluid>
				</form>

			</div>
		</div>
	</div>
</div>
