 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-wrap" >  <label for="Reference Type" class="mb-1">ReferenceType</label>
        <p-dropdown
            inputId="ReferenceType" 
            [options]="referencetypeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ReferenceType"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ReferenceType')"
											label="Reference Type">
										</app-validation-errors></div>
<div class="flex flex-wrap" > 							<label for="ReferenceId">Reference Id 
							</label> 
							<p-inputNumber id="ReferenceId"  pSize="small"	formControlName="ReferenceId"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('ReferenceId')"
											label="Reference Id">
										</app-validation-errors>
						 </div>
<div class="flex flex-wrap" >  <label for="Target Module Code" class="mb-1">TargetModuleCode</label>
        <p-dropdown
            inputId="TargetModuleCode" 
            [options]="targetmodulecodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="TargetModuleCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('TargetModuleCode')"
											label="Target Module Code">
										</app-validation-errors></div>
<div class="flex flex-wrap" >  <label for="Handoff Status Code" class="mb-1">HandoffStatusCode</label>
        <p-dropdown
            inputId="HandoffStatusCode" 
            [options]="handoffstatuscodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="HandoffStatusCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('HandoffStatusCode')"
											label="Handoff Status Code">
										</app-validation-errors></div>
<div class="flex flex-wrap" > 			
							<label for="HandoffDateTime">Handoff Date Time 
							</label> 
							<p-calendar id="HandoffDateTime"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="HandoffDateTime"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('HandoffDateTime')"
											label="Handoff Date Time">
										</app-validation-errors>
						 </div>
<div class="flex flex-wrap" > 							<label for="TargetReferenceId">Target Reference Id 
							</label> 
							<p-inputNumber id="TargetReferenceId"  pSize="small"	formControlName="TargetReferenceId"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('TargetReferenceId')"
											label="Target Reference Id">
										</app-validation-errors>
						 </div>
<div class="flex flex-wrap" >                  <label for="address">Validation Json</label>
                    <textarea size="small" pTextarea placeholder="Type Validation Json" [autoResize]="true" rows="3" class="w-full"
										cols="30" formControlName="ValidationJson"
										[ngClass]="{'is-invalid': (editForm.get('ValidationJson').touched || editForm.get('ValidationJson').dirty) && !editForm.get('ValidationJson').valid }"></textarea>
<app-validation-errors [type]="'text'" [control]="editForm.get('ValidationJson')"
											label="Validation Json">
										</app-validation-errors>


               </div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>