<div class="grid">
	<div class="col-12">
		<div class="card">
			<app-message [AlertType]="'message'"></app-message>
			<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
				[Caption]="'LeaseRequirement List'" [PageType]="'List'">
			</app-toolbar-buttons>
			<app-spinner></app-spinner>  
			<div class="col-12 md:col-6">
				<div class="flex flex-col items-center mb-12">
					<div class="w-1/2 md:w-6 lg:w-4 xl:w-3">
						<p-inputGroup>
							<input pSize="small" type="text" class="p-inputtext-sm" pInputText  
								placeholder="type name" [(ngModel)]="objSearch.Name" />
							<p-inputgroup-addon>
								<i class="pi pi-times" style="cursor: pointer;" (click)="clearSearch()"></i>
							</p-inputgroup-addon>
							<p-button label="Search" pRipple size="small" (click)="search()" />
						</p-inputGroup>
						<label for="Records Found" style=" font-size:small;">Records Found: {{totalNoOfRecords}}</label>
					</div>

				</div>
			</div>



			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" styleClass="list-table"
				scrollHeight="400px" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th>
						<th pSortableColumn="PartyId" style="width:200px">Party Id <p-sortIcon field="PartyId" /> </th>
						<th pSortableColumn="PartyLocationId" style="width:200px">Party LocationId <p-sortIcon field="PartyLocationId" /> </th>
						<th pSortableColumn="RequirementDate" style="width:200px">Req. Date <p-sortIcon field="RequirementDate" /> </th>
						<th pSortableColumn="PreferredStartDate" style="width:200px">Pref. StartDate <p-sortIcon field="PreferredStartDate" /> </th>
						<th pSortableColumn="RequestedTermMonths" style="width:200px">Term Months <p-sortIcon field="RequestedTermMonths" /> </th>
						<th pSortableColumn="RequirementStatusCode" style="width:200px">Req. Status Code <p-sortIcon field="RequirementStatusCode" />
						</th>
						<th pSortableColumn="RecordStatus" style="width:200px">Record Status <p-sortIcon field="RecordStatus" /> </th>


					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn><p-button label="{{obj.LeaseRequirementId}}" [link]="true"
								(click)="onDetailsClick(obj)" /> </td>
						<td style="width:200px">{{obj.PartyId | number:'1.0':'en-US' }}</td>
						<td style="width:200px">{{obj.PartyLocationId | number:'1.0':'en-US' }}</td>
						<td style="width:200px">{{obj.RequirementDate | date:'dd-MMM-yyyy' }}</td>
						<td style="width:200px">{{obj.PreferredStartDate | date:'dd-MMM-yyyy' }}</td>
						<td style="width:200px">{{obj.RequestedTermMonths | number:'1.0':'en-US' }}</td>
						<td style="width:200px">{{obj.RequirementStatusCode}}</td>
						<td style="width:200px">{{obj.RecordStatus}}</td>

					</tr>
				</ng-template>
			</p-table>
			<p-paginator *ngIf="totalNoOfRecords > 0"
				[first]="pgEvent.first"
				[rows]="pgEvent.rows"
				[totalRecords]="totalNoOfRecords"
				[rowsPerPageOptions]="[10, 20, 50]"
				[showCurrentPageReport]="true"
				currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
				(onPageChange)="pageChanged($event)" />
		</div>
	</div>
</div>
