<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Disposal Case Id" [value]="disposalAward.DisposalCaseId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Award Source Code" [value]="disposalAward.AwardSourceCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Disposal Offer Id" [value]="disposalAward.DisposalOfferId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Disposal Bid Id" [value]="disposalAward.DisposalBidId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Buyer Party Id" [value]="disposalAward.BuyerPartyId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Award Amount" [value]="disposalAward.AwardAmount">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Currency Code" [value]="disposalAward.CurrencyCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Awarded At" [value]="disposalAward.AwardedAt">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Approved By User Id" [value]="disposalAward.ApprovedByUserId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Status Code" [value]="disposalAward.StatusCode">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>