<div class="grid">
    <div class="col-12">
        <div class="card">
            <app-message [AlertType]="'message'"></app-message>
            <app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'Role Permission List'" [PageType]="'List'"></app-toolbar-buttons>
            <app-spinner></app-spinner>
            <div class="col-12 md:col-6">
                <p-inputGroup>
                    <input type="text" class="p-inputtext-sm" pInputText placeholder="Search role permissions" [(ngModel)]="objSearch.Name" />
                    <button type="button" pButton label="Search" class="btn-sm" (click)="search()"></button>
                </p-inputGroup>
            </div>
            <p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pFrozenColumn pSortableColumn="RoleDisplayName" style="width: 260px">Role <p-sortIcon field="RoleDisplayName" /></th>
                        <th pSortableColumn="PermissionDisplayName" style="width: 320px">Permission <p-sortIcon field="PermissionDisplayName" /></th>
                        <th pSortableColumn="GrantType" style="width: 160px">Grant Type <p-sortIcon field="GrantType" /></th>
                        <th style="width: 300px">Constraint</th>
                        <th style="width: 130px">Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-obj>
                    <tr>
                        <td style="width: 260px" pFrozenColumn><p-button [label]="obj.RoleDisplayName" [link]="true" (click)="onDetailsClick(obj)" /></td>
                        <td style="width: 320px">{{ obj.PermissionDisplayName }}</td>
                        <td style="width: 160px">{{ obj.GrantType }}</td>
                        <td style="width: 300px">{{ obj.ConstraintJson }}</td>
                        <td style="width: 130px">{{ obj.RecordStatus }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
