<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'InvoiceMatch List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">Invoice Match Id <p-sortIcon field="InvoiceMatchId" /> </th> 
<th style="width:200px">Supplier Invoice Id <p-sortIcon field="SupplierInvoiceId" /> </th> 
<th style="width:200px">Purchase Order Id <p-sortIcon field="PurchaseOrderId" /> </th> 
<th style="width:200px">Goods Receipt Id <p-sortIcon field="GoodsReceiptId" /> </th> 
<th style="width:200px">Match Type Code <p-sortIcon field="MatchTypeCode" /> </th> 
<th style="width:200px">Matched On <p-sortIcon field="MatchedOn" /> </th> 
<th style="width:200px">Matched By <p-sortIcon field="MatchedBy" /> </th> 
<th style="width:200px">Quantity Variance <p-sortIcon field="QuantityVariance" /> </th> 
<th style="width:200px">Amount Variance <p-sortIcon field="AmountVariance" /> </th> 
<th style="width:200px">Tolerance Passed <p-sortIcon field="TolerancePassed" /> </th> 
<th style="width:200px">Match Result Code <p-sortIcon field="MatchResultCode" /> </th> 

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.Id}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.InvoiceMatchId}}</td>
 <td style="width:200px">{{obj.SupplierInvoiceId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.PurchaseOrderId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.GoodsReceiptId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.MatchTypeCode}}</td>
 <td style="width:200px">{{obj.MatchedOn | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.MatchedBy | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.QuantityVariance | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.AmountVariance | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.TolerancePassed | yesNo }}</td>
 <td style="width:200px">{{obj.MatchResultCode}}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  