<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		       <form [formGroup]="editForm" (ngSubmit)="Save()">
 				<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Insurance Claim Id" class="mb-1">InsuranceClaimId</label>
        <p-dropdown
            inputId="InsuranceClaimId" 
            [options]="insuranceclaimidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="InsuranceClaimId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('InsuranceClaimId')"
											label="Insurance Claim Id">
										</app-validation-errors></div><div class="flex flex-col w-full">					
							<label for="AssessmentNo">Assessment No 
							</label> 
							<input pInputText id="AssessmentNo" type="text" pSize="small"	formControlName="AssessmentNo"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('AssessmentNo')"
											label="Assessment No">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Assessor Party Id" class="mb-1">AssessorPartyId</label>
        <p-dropdown
            inputId="AssessorPartyId" 
            [options]="assessorpartyidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AssessorPartyId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AssessorPartyId')"
											label="Assessor Party Id">
										</app-validation-errors></div><div class="flex flex-col w-full">			
							<label for="AssessmentDate">Assessment Date 
							</label> 
							<p-calendar id="AssessmentDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="AssessmentDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('AssessmentDate')"
											label="Assessment Date">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="EstimatedRepairAmount">Estimated Repair Amount 
							</label> 
							<p-inputNumber id="EstimatedRepairAmount"  pSize="small"	formControlName="EstimatedRepairAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('EstimatedRepairAmount')"
											label="Estimated Repair Amount">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">							<label for="AssessedLossAmount">Assessed Loss Amount 
							</label> 
							<p-inputNumber id="AssessedLossAmount"  pSize="small"	formControlName="AssessedLossAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('AssessedLossAmount')"
											label="Assessed Loss Amount">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Repairability Code" class="mb-1">RepairabilityCode</label>
        <p-dropdown
            inputId="RepairabilityCode" 
            [options]="repairabilitycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RepairabilityCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RepairabilityCode')"
											label="Repairability Code">
										</app-validation-errors></div><div class="flex flex-col w-full">							<label for="SalvageValue">Salvage Value 
							</label> 
							<p-inputNumber id="SalvageValue"  pSize="small"	formControlName="SalvageValue"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('SalvageValue')"
											label="Salvage Value">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Currency Code" class="mb-1">CurrencyCode</label>
        <p-dropdown
            inputId="CurrencyCode" 
            [options]="currencycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CurrencyCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CurrencyCode')"
											label="Currency Code">
										</app-validation-errors></div><div class="flex flex-col w-full">                 <label for="address">Assessment Summary</label>
                    <textarea size="small" pTextarea placeholder="Type Assessment Summary" [autoResize]="true" rows="3" class="w-full"
										cols="30" formControlName="AssessmentSummary"
										[ngClass]="{'is-invalid': (editForm.get('AssessmentSummary').touched || editForm.get('AssessmentSummary').dirty) && !editForm.get('AssessmentSummary').valid }"></textarea>
<app-validation-errors [type]="'text'" [control]="editForm.get('AssessmentSummary')"
											label="Assessment Summary">
										</app-validation-errors>


               </div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 	
                     </form>			 

			</div>
		</div>
	</div>
</div>

 

