<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-wrap" > <app-view-field label="RFQ Id" [value]="rFQSupplier.RFQId">
								</app-view-field></div>
<div class="flex flex-wrap" > <app-view-field label="Supplier Party Id" [value]="rFQSupplier.SupplierPartyId">
								</app-view-field></div>
<div class="flex flex-wrap" > <app-view-field label="Supplier Service Area Id" [value]="rFQSupplier.SupplierServiceAreaId">
								</app-view-field></div>
<div class="flex flex-wrap" > <app-view-field label="Invitation Status Code" [value]="rFQSupplier.InvitationStatusCode">
								</app-view-field></div>
<div class="flex flex-wrap" > <app-view-field label="Invited On" [value]="rFQSupplier.InvitedOn">
								</app-view-field></div>
<div class="flex flex-wrap" > <app-view-field label="Responded On" [value]="rFQSupplier.RespondedOn">
								</app-view-field></div>
<div class="flex flex-wrap" > <app-view-field label="Supplier Contact Id" [value]="rFQSupplier.SupplierContactId">
								</app-view-field></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>