 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-wrap" >  <label for="Reference Type" class="mb-1">ReferenceType</label>
        <p-dropdown
            inputId="ReferenceType" 
            [options]="referencetypeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ReferenceType"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ReferenceType')"
											label="Reference Type">
										</app-validation-errors></div>
<div class="flex flex-wrap" > 							<label for="ReferenceId">Reference Id 
							</label> 
							<p-inputNumber id="ReferenceId"  pSize="small"	formControlName="ReferenceId"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('ReferenceId')"
											label="Reference Id">
										</app-validation-errors>
						 </div>
<div class="flex flex-wrap" >  <label for="Workflow Definition Id" class="mb-1">WorkflowDefinitionId</label>
        <p-dropdown
            inputId="WorkflowDefinitionId" 
            [options]="workflowdefinitionidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="WorkflowDefinitionId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('WorkflowDefinitionId')"
											label="Workflow Definition Id">
										</app-validation-errors></div>
<div class="flex flex-wrap" >  <label for="Approval Status Code" class="mb-1">ApprovalStatusCode</label>
        <p-dropdown
            inputId="ApprovalStatusCode" 
            [options]="approvalstatuscodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ApprovalStatusCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ApprovalStatusCode')"
											label="Approval Status Code">
										</app-validation-errors></div>
<div class="flex flex-wrap" >  <label for="Requested By" class="mb-1">RequestedBy</label>
        <p-dropdown
            inputId="RequestedBy" 
            [options]="requestedbyOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RequestedBy"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RequestedBy')"
											label="Requested By">
										</app-validation-errors></div>
<div class="flex flex-wrap" > 			
							<label for="RequestedOn">Requested On 
							</label> 
							<p-calendar id="RequestedOn"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="RequestedOn"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('RequestedOn')"
											label="Requested On">
										</app-validation-errors>
						 </div>
<div class="flex flex-wrap" > 			
							<label for="CompletedOn">Completed On 
							</label> 
							<p-calendar id="CompletedOn"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="CompletedOn"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('CompletedOn')"
											label="Completed On">
										</app-validation-errors>
						 </div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>