<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'ContractApprovalRequest List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">Contract Approval Request Id <p-sortIcon field="ContractApprovalRequestId" /> </th> 
<th style="width:200px">Reference Type <p-sortIcon field="ReferenceType" /> </th> 
<th style="width:200px">Reference Id <p-sortIcon field="ReferenceId" /> </th> 
<th style="width:200px">Workflow Definition Id <p-sortIcon field="WorkflowDefinitionId" /> </th> 
<th style="width:200px">Approval Status Code <p-sortIcon field="ApprovalStatusCode" /> </th> 
<th style="width:200px">Requested By <p-sortIcon field="RequestedBy" /> </th> 
<th style="width:200px">Requested On <p-sortIcon field="RequestedOn" /> </th> 
<th style="width:200px">Completed On <p-sortIcon field="CompletedOn" /> </th> 

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.ContractApprovalRequestId}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.ContractApprovalRequestId}}</td>
 <td style="width:200px">{{obj.ReferenceType}}</td>
 <td style="width:200px">{{obj.ReferenceId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.WorkflowDefinitionId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ApprovalStatusCode}}</td>
 <td style="width:200px">{{obj.RequestedBy | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.RequestedOn | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.CompletedOn | date:'dd-MMM-yyyy' }}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  
