<div class="grid">
	<div class="col-12">
		<div class="card">
			<app-message [AlertType]="'message'"></app-message>
			<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
				[Caption]="'Lead List'" [PageType]="'List'">
			</app-toolbar-buttons>
			<app-spinner></app-spinner>
			<div class="col-12 md:col-6">
				<p-inputGroup>
					<input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword"
						[(ngModel)]="objSearch.Name" />
					<button type="button" pButton label="Search" class="btn-sm" (click)="search()"></button>
				</p-inputGroup>
			</div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3"
				responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="LeadId" style="width:200px">LeadId <p-sortIcon field="LeadId" /> </th>
						<th style="width:200px">Prospect Name<p-sortIcon
								field="ProspectName" /> </th>
						<th style="width:200px">Contact Name<p-sortIcon field="ContactName	" />
						</th>
						<th style="width:200px">Asset Category<p-sortIcon field="InterestedAssetCategoryId" />
						</th>
						<th style="width:200px">Exp. CloseDate <p-sortIcon field="ExpectedCloseDate" /> </th>

						<th style="width:200px">Status <p-sortIcon field="RecordStatus" /> </th>


					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn><p-button label="{{obj.Id}}" [link]="true"
								(click)="onDetailsClick(obj)" /> </td>
						<td style="width:200px">{{obj.ProspectName }}</td>
						<td style="width:200px">{{obj.ContactName }}</td>
						<td style="width:200px">{{obj.InterestedAssetCategoryId }}</td>
							<td style="width:200px">{{obj.ExpectedCloseDate}}</td>
						<td style="width:200px">{{obj.RecordStatus}}</td>

					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>