<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Source Type Code" [value]="endOfLeaseDisposalHandoff.SourceTypeCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Source Id" [value]="endOfLeaseDisposalHandoff.SourceId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Target Module Code" [value]="endOfLeaseDisposalHandoff.TargetModuleCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Handoff Type Code" [value]="endOfLeaseDisposalHandoff.HandoffTypeCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Requested At" [value]="endOfLeaseDisposalHandoff.RequestedAt">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Status Code" [value]="endOfLeaseDisposalHandoff.StatusCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Target Reference Id" [value]="endOfLeaseDisposalHandoff.TargetReferenceId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Completed At" [value]="endOfLeaseDisposalHandoff.CompletedAt">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Failure Reason" [value]="endOfLeaseDisposalHandoff.FailureReason">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Record Status" [value]="endOfLeaseDisposalHandoff.RecordStatus">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>