<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Parent Organisation UnitId" [value]="organisationUnit.ParentOrganisationUnitId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Unit Code" [value]="organisationUnit.UnitCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Unit Name" [value]="organisationUnit.UnitName">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="UnitType" [value]="organisationUnit.UnitType">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Cost Centre Code" [value]="organisationUnit.CostCentreCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Profit Centre Code" [value]="organisationUnit.ProfitCentreCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Manager UserId" [value]="organisationUnit.ManagerUserId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Default LocationId" [value]="organisationUnit.DefaultLocationId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Is Contracting Unit" [value]="organisationUnit.IsContractingUnit">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Is Billing Unit" [value]="organisationUnit.IsBillingUnit">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Effective From" [value]="organisationUnit.EffectiveFrom">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Effective To" [value]="organisationUnit.EffectiveTo">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Status" [value]="organisationUnit.Status">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Hierarchy Path" [value]="organisationUnit.HierarchyPath">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>