<div class="grid list-page generated-list-page">
<div class="col-12">
		<div class="card list-card generated-list-card">
            <app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'LeasePaymentScheduleLine List'"
					[PageType]="'List'">
				</app-toolbar-buttons>
				<app-spinner></app-spinner>
				<div class="generated-list-search">
    <input type="search" class="p-inputtext-sm generated-list-input" pInputText placeholder="Search..." [(ngModel)]="objSearch.Name" (keyup.enter)="search()" aria-label="Search records" />
    <button type="button" pButton icon="pi pi-search" class="generated-list-action" (click)="search()" aria-label="Search records" title="Search"></button>
    <button type="button" pButton icon="pi pi-times" class="generated-list-action generated-list-clear" (click)="clearSearch()" aria-label="Clear search" title="Clear search"></button>
    <div class="record-count-inline generated-list-count" aria-live="polite"><i class="pi pi-list"></i><strong>{{ totalNoOfRecords }}</strong><span>records</span></div>
</div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table generated-list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">ID <p-sortIcon field="Id" /> </th>
						 <th style="width:200px">Lease Payment Schedule Line ID <p-sortIcon field="LeasePaymentScheduleLineId" /> </th>
<th style="width:200px">Lease Payment Schedule ID <p-sortIcon field="LeasePaymentScheduleId" /> </th>
<th style="width:200px">Installment No. <p-sortIcon field="InstallmentNo" /> </th>
<th style="width:200px">Due Date <p-sortIcon field="DueDate" /> </th>
<th style="width:200px">Opening Principal <p-sortIcon field="OpeningPrincipal" /> </th>
<th style="width:200px">Principal Amount <p-sortIcon field="PrincipalAmount" /> </th>
<th style="width:200px">Finance Amount <p-sortIcon field="FinanceAmount" /> </th>
<th style="width:200px">Rental Amount <p-sortIcon field="RentalAmount" /> </th>
<th style="width:200px">Tax Amount <p-sortIcon field="TaxAmount" /> </th>
<th style="width:200px">Charge Amount <p-sortIcon field="ChargeAmount" /> </th>
<th style="width:200px">Total Due Amount <p-sortIcon field="TotalDueAmount" /> </th>
<th style="width:200px">Closing Principal <p-sortIcon field="ClosingPrincipal" /> </th>
<th style="width:200px">Billing Status Code <p-sortIcon field="BillingStatusCode" /> </th>

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn><p-button label="#{{ obj.Id }}" [link]="true" (click)="onDetailsClick(obj)" /></td>
                        <td style="width:200px">{{ obj.LeasePaymentScheduleLineId }}</td>
                        <td style="width:200px">{{ obj.LeasePaymentScheduleId | number:'1.0':'en-US' }}</td>
                        <td style="width:200px">{{ obj.InstallmentNo | number:'1.0':'en-US' }}</td>
                        <td style="width:200px">{{ obj.DueDate | date:'dd-MMM-yyyy' }}</td>
                        <td style="width:200px">{{ obj.OpeningPrincipal | number:'1.2-2':'en-US' }}</td>
                        <td style="width:200px">{{ obj.PrincipalAmount | number:'1.2-2':'en-US' }}</td>
                        <td style="width:200px">{{ obj.FinanceAmount | number:'1.2-2':'en-US' }}</td>
                        <td style="width:200px">{{ obj.RentalAmount | number:'1.2-2':'en-US' }}</td>
                        <td style="width:200px">{{ obj.TaxAmount | number:'1.2-2':'en-US' }}</td>
                        <td style="width:200px">{{ obj.ChargeAmount | number:'1.2-2':'en-US' }}</td>
                        <td style="width:200px">{{ obj.TotalDueAmount | number:'1.2-2':'en-US' }}</td>
                        <td style="width:200px">{{ obj.ClosingPrincipal | number:'1.2-2':'en-US' }}</td>
                        <td style="width:200px">{{ obj.BillingStatusCode }}</td>

					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>
