<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons>
				<app-spinner></app-spinner>

				<form [formGroup]="editForm" (ngSubmit)="Save()">
					<p-fluid>
						<div class="flex mt-8">
							<div class="card flex flex-col gap-4 w-full">
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">

										<label for="BusinessCalendarId">BusinessCalendarId
										</label>
											<p-dropdown inputId="BusinessCalendarId" [options]="businessCalendarOptions" optionLabel="Text"
											optionValue="Value" formControlName="BusinessCalendarId" placeholder="Select One"
											class="w-full">
										</p-dropdown> 
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('BusinessCalendarId')" label="BusinessCalendarId">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">

										<label for="HolidayDate">HolidayDate
										</label>
										<p-calendar id="HolidayDate" size="small" dateFormat="dd-MM-yy"
											[showIcon]="true" formControlName="HolidayDate"></p-calendar>
										<app-validation-errors [type]="'date'" [control]="editForm.get('HolidayDate')"
											label="HolidayDate">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">

										<label for="HolidayName">HolidayName
										</label>
										<input pInputText id="HolidayName" type="text" pSize="small"
											formControlName="HolidayName" />
										<app-validation-errors [type]="'text'" [control]="editForm.get('HolidayName')"
											label="HolidayName">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="DayCounts">DayCounts
										</label>
										<p-inputNumber id="DayCounts" pSize="small" formControlName="DayCounts">
										</p-inputNumber>
										<app-validation-errors [type]="'number'" [control]="editForm.get('DayCounts')"
											label="DayCounts">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">
										<label for="DayType" class="mb-1">DayType</label>
										<p-dropdown inputId="DayType" [options]="daytypeOptions" optionLabel="Text"
											optionValue="Value" formControlName="DayType" placeholder="Select One"
											class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'" [control]="editForm.get('DayType')"
											label="DayType">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">

										<label for="StartTime">StartTime
										</label>
										<input pInputText id="StartTime" type="text" pSize="small"
											formControlName="StartTime" />
										<app-validation-errors [type]="'text'" [control]="editForm.get('StartTime')"
											label="StartTime">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">

										<label for="EndTime">EndTime
										</label>
										<input pInputText id="EndTime" type="text" pSize="small"
											formControlName="EndTime" />
										<app-validation-errors [type]="'text'" [control]="editForm.get('EndTime')"
											label="EndTime">
										</app-validation-errors>
									</div>
									
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">

										<label for="EffectiveFrom">EffectiveFrom
										</label>
										<p-calendar id="EffectiveFrom" size="small" dateFormat="dd-MM-yy"
											[showIcon]="true" formControlName="EffectiveFrom"></p-calendar>
										<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveFrom')"
											label="EffectiveFrom">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">

										<label for="EffectiveTo">EffectiveTo
										</label>
										<p-calendar id="EffectiveTo" size="small" dateFormat="dd-MM-yy"
											[showIcon]="true" formControlName="EffectiveTo"></p-calendar>
										<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveTo')"
											label="EffectiveTo">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-wrap">
									<div class="flex flex-col w-full">
										<label for="address">Description</label>
										<textarea size="small" pTextarea placeholder="Type Description"
											[autoResize]="true" rows="3" class="w-full" cols="30"
											formControlName="Description"
											[ngClass]="{'is-invalid': (editForm.get('Description').touched || editForm.get('Description').dirty) && !editForm.get('Description').valid }"></textarea>
										<app-validation-errors [type]="'text'" [control]="editForm.get('Description')"
											label="Description">
										</app-validation-errors>


									</div>
								</div>


							</div>
						</div>
					</p-fluid>
				</form>

			</div>
		</div>
	</div>
</div>