<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'LeaseContractTerm List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">Lease Contract Term Id <p-sortIcon field="LeaseContractTermId" /> </th> 
<th style="width:200px">Lease Contract Id <p-sortIcon field="LeaseContractId" /> </th> 
<th style="width:200px">Term Version No <p-sortIcon field="TermVersionNo" /> </th> 
<th style="width:200px">Lease Type Code <p-sortIcon field="LeaseTypeCode" /> </th> 
<th style="width:200px">Term Months <p-sortIcon field="TermMonths" /> </th> 
<th style="width:200px">Payment Frequency Code <p-sortIcon field="PaymentFrequencyCode" /> </th> 
<th style="width:200px">Payment Timing Code <p-sortIcon field="PaymentTimingCode" /> </th> 
<th style="width:200px">Base Rental Amount <p-sortIcon field="BaseRentalAmount" /> </th> 
<th style="width:200px">Rental Rate <p-sortIcon field="RentalRate" /> </th> 
<th style="width:200px">Residual Value Amount <p-sortIcon field="ResidualValueAmount" /> </th> 
<th style="width:200px">Residual Value Percent <p-sortIcon field="ResidualValuePercent" /> </th> 
<th style="width:200px">Upfront Payment Amount <p-sortIcon field="UpfrontPaymentAmount" /> </th> 
<th style="width:200px">Balloon Amount <p-sortIcon field="BalloonAmount" /> </th> 
<th style="width:200px">Grace Days <p-sortIcon field="GraceDays" /> </th> 
<th style="width:200px">Tax Inclusive <p-sortIcon field="TaxInclusive" /> </th> 
<th style="width:200px">Terms Json <p-sortIcon field="TermsJson" /> </th> 

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.LeaseContractTermId}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.LeaseContractTermId}}</td>
 <td style="width:200px">{{obj.LeaseContractId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.TermVersionNo | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.LeaseTypeCode}}</td>
 <td style="width:200px">{{obj.TermMonths | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.PaymentFrequencyCode}}</td>
 <td style="width:200px">{{obj.PaymentTimingCode}}</td>
 <td style="width:200px">{{obj.GraceDays | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.TaxInclusive | yesNo }}</td>
 <td style="width:200px">{{obj.TermsJson}}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  
