<div class="grid list-page">
	<div class="col-12">
		<div class="card list-card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'AssetMeasureDefinition List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="list-heading list-heading-compact"><p>Configure measurements tracked for assets.</p><div class="record-count-inline"><i class="pi pi-chart-line"></i><strong>{{ totalNoOfRecords }}</strong><span>records</span></div></div>
				<div class="list-search">
					<i class="pi pi-search"></i>
					<input type="search" pInputText placeholder="Search records..." [(ngModel)]="objSearch.Name" (keyup.enter)="search()" aria-label="Search records" />
					<button type="button" pButton label="Search" icon="pi pi-search" (click)="search()"></button>
					<button type="button" pButton label="Clear" icon="pi pi-times" [text]="true" (click)="clearSearch()"></button>
				</div>
			<p-table [value]="lstMain" [loading]="isLoading" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th>Record</th> 
						 <th style="width:200px">Asset CategoryId <p-sortIcon field="AssetCategoryId" /> </th> 
<th style="width:200px">Asset TypeId <p-sortIcon field="AssetTypeId" /> </th> 
<th style="width:200px">Measure Code <p-sortIcon field="MeasureCode" /> </th> 
<th style="width:200px">Measure Name <p-sortIcon field="MeasureName" /> </th> 
<th style="width:200px">Unit Of MeasureId <p-sortIcon field="UnitOfMeasureId" /> </th> 
<th style="width:200px">Is Cumulative <p-sortIcon field="IsCumulative" /> </th> 
<th style="width:200px">Is Required <p-sortIcon field="IsRequired" /> </th> 
<th class="list-actions-column">Quick actions</th>

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td><div class="list-primary-cell"><span class="list-avatar"><i class="pi pi-chart-line"></i></span><div><button type="button" class="list-primary-link" (click)="onDetailsClick(obj)">{{obj.MeasureName || "Unnamed measure"}}</button><span class="list-secondary">{{obj.AssetMeasureDefinitionId || ("#" + obj.Id)}}</span></div></div></td>
                         <td style="width:200px">{{obj.AssetCategoryId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.AssetTypeId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.MeasureCode}}</td>
 <td style="width:200px">{{obj.MeasureName}}</td>
 <td style="width:200px">{{obj.UnitOfMeasureId}}</td>
 <td style="width:200px">{{obj.IsCumulative | yesNo }}</td>
<td style="width:200px">{{obj.IsRequired | yesNo }}</td>
 <td><div class="list-actions"><button type="button" class="list-action view" title="View" aria-label="View record" (click)="onViewClick(obj)"><i class="pi pi-eye"></i></button><button *ngIf="permission.CanUpdate" type="button" class="list-action edit" title="Edit" aria-label="Edit record" (click)="onDetailsClick(obj)"><i class="pi pi-pencil"></i></button></div></td>
 
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage"><tr><td colspan="99"><div class="list-empty"><i class="pi pi-inbox"></i><strong>No records found</strong><span>Try changing your search or create a new record.</span></div></td></tr></ng-template>
			</p-table>
		</div>
	</div> 
</div>
  
