<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="CategoryCode" [value]="assetCategory.CategoryCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="CategoryName" [value]="assetCategory.CategoryName">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="SupportsRegistration" [value]="assetCategory.SupportsRegistration">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="SupportsMeasure" [value]="assetCategory.SupportsMeasure">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="ExtensionTypeCode" [value]="assetCategory.ExtensionTypeCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="EffectiveFrom" [value]="assetCategory.EffectiveFrom">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="EffectiveTo" [value]="assetCategory.EffectiveTo">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="RecordStatus" [value]="assetCategory.RecordStatus">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>