<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="AssetId" [value]="assetInspection.AssetId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Inspection TypeId" [value]="assetInspection.InspectionTypeId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="InspectionNo" [value]="assetInspection.InspectionNo">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="InspectionDateTime" [value]="assetInspection.InspectionDateTime">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="LocationId" [value]="assetInspection.LocationId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="PartyId" [value]="assetInspection.PartyId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="InspectorUserId" [value]="assetInspection.InspectorUserId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="ConditionGradeId" [value]="assetInspection.ConditionGradeId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="OverallScore" [value]="assetInspection.OverallScore">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="InspectionStatusId" [value]="assetInspection.InspectionStatusId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Remarks" [value]="assetInspection.Remarks">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="CompletedOn" [value]="assetInspection.CompletedOn">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>