<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Supplier Party Id" [value]="supplierInvoice.SupplierPartyId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Buying Organisation Id" [value]="supplierInvoice.BuyingOrganisationId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Supplier Invoice No" [value]="supplierInvoice.SupplierInvoiceNo">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Invoice Date" [value]="supplierInvoice.InvoiceDate">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Currency Code" [value]="supplierInvoice.CurrencyCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Subtotal" [value]="supplierInvoice.Subtotal">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Tax Amount" [value]="supplierInvoice.TaxAmount">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Total Amount" [value]="supplierInvoice.TotalAmount">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Match Status Code" [value]="supplierInvoice.MatchStatusCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Invoice Document Id" [value]="supplierInvoice.InvoiceDocumentId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="AP Reference Id" [value]="supplierInvoice.APReferenceId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Captured On" [value]="supplierInvoice.CapturedOn">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Captured By" [value]="supplierInvoice.CapturedBy">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Record Status" [value]="supplierInvoice.RecordStatus">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>