<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'InsuranceRecovery List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">Insurance Claim Id <p-sortIcon field="InsuranceClaimId" /> </th> 
<th style="width:200px">Recovery Type Code <p-sortIcon field="RecoveryTypeCode" /> </th> 
<th style="width:200px">Recovery Party Id <p-sortIcon field="RecoveryPartyId" /> </th> 
<th style="width:200px">Expected Amount <p-sortIcon field="ExpectedAmount" /> </th> 
<th style="width:200px">Recovered Amount <p-sortIcon field="RecoveredAmount" /> </th> 
<th style="width:200px">Currency Code <p-sortIcon field="CurrencyCode" /> </th> 
<th style="width:200px">Recovery Date <p-sortIcon field="RecoveryDate" /> </th> 
<th style="width:200px">Finance Reference Id <p-sortIcon field="FinanceReferenceId" /> </th> 
<th style="width:200px">Status Code <p-sortIcon field="StatusCode" /> </th> 
<th style="width:200px">Record Status <p-sortIcon field="RecordStatus" /> </th> 

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.Id}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.InsuranceClaimId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.RecoveryTypeCode}}</td>
 <td style="width:200px">{{obj.RecoveryPartyId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ExpectedAmount | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.RecoveredAmount | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.CurrencyCode}}</td>
 <td style="width:200px">{{obj.RecoveryDate | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.FinanceReferenceId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.StatusCode}}</td>
 <td style="width:200px">{{obj.RecordStatus}}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  