<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'LeaseRequirementAsset List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">Line No <p-sortIcon field="LineNo" /> </th> 
<th style="width:200px">Asset CategoryId <p-sortIcon field="AssetCategoryId" /> </th> 
<th style="width:200px">Asset TypeId <p-sortIcon field="AssetTypeId" /> </th> 
<th style="width:200px">Asset MakeId <p-sortIcon field="AssetMakeId" /> </th> 
<th style="width:200px">Asset ModelId <p-sortIcon field="AssetModelId" /> </th> 
<th style="width:200px">New Used Code <p-sortIcon field="NewUsedCode" /> </th> 
<th style="width:200px">Record Status <p-sortIcon field="RecordStatus" /> </th> 


					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.LeaseRequirementAssetId}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.LineNo | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.AssetCategoryId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.AssetTypeId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.AssetMakeId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.AssetModelId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.NewUsedCode}}</td>
 <td style="width:200px">{{obj.RecordStatus}}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  
