<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		       <form [formGroup]="editForm" (ngSubmit)="Save()">
 				<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">					
							<label for="RFQNo">RFQ No 
							</label> 
							<input pInputText id="RFQNo" type="text" pSize="small"	formControlName="RFQNo"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('RFQNo')"
											label="RFQ No">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Purchase Requisition Id" class="mb-1">PurchaseRequisitionId</label>
        <p-dropdown
            inputId="PurchaseRequisitionId" 
            [options]="purchaserequisitionidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="PurchaseRequisitionId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('PurchaseRequisitionId')"
											label="Purchase Requisition Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Buying Organisation Id" class="mb-1">BuyingOrganisationId</label>
        <p-dropdown
            inputId="BuyingOrganisationId" 
            [options]="buyingorganisationidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="BuyingOrganisationId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('BuyingOrganisationId')"
											label="Buying Organisation Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="RFQ Status Code" class="mb-1">RFQStatusCode</label>
        <p-dropdown
            inputId="RFQStatusCode" 
            [options]="rfqstatuscodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RFQStatusCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RFQStatusCode')"
											label="RFQ Status Code">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="IssueDateTime">Issue Date Time 
							</label> 
							<p-calendar id="IssueDateTime"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="IssueDateTime"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('IssueDateTime')"
											label="Issue Date Time">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">			
							<label for="ResponseDueDateTime">Response Due Date Time 
							</label> 
							<p-calendar id="ResponseDueDateTime"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="ResponseDueDateTime"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('ResponseDueDateTime')"
											label="Response Due Date Time">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Currency Code" class="mb-1">CurrencyCode</label>
        <p-dropdown
            inputId="CurrencyCode" 
            [options]="currencycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CurrencyCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CurrencyCode')"
											label="Currency Code">
										</app-validation-errors></div><div class="flex flex-col w-full">                 <label for="address">Commercial Terms</label>
                    <textarea size="small" pTextarea placeholder="Type Commercial Terms" [autoResize]="true" rows="3" class="w-full"
										cols="30" formControlName="CommercialTerms"
										[ngClass]="{'is-invalid': (editForm.get('CommercialTerms').touched || editForm.get('CommercialTerms').dirty) && !editForm.get('CommercialTerms').valid }"></textarea>
<app-validation-errors [type]="'text'" [control]="editForm.get('CommercialTerms')"
											label="Commercial Terms">
										</app-validation-errors>


               </div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 	
                     </form>			 

			</div>
		</div>
	</div>
</div>

 

