<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Insurance Policy Id" [value]="insurancePolicyAsset.InsurancePolicyId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Asset Id" [value]="insurancePolicyAsset.AssetId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Lease Contract Id" [value]="insurancePolicyAsset.LeaseContractId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Coverage Type Id" [value]="insurancePolicyAsset.CoverageTypeId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Coverage Start Date" [value]="insurancePolicyAsset.CoverageStartDate">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Coverage End Date" [value]="insurancePolicyAsset.CoverageEndDate">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Insured Value" [value]="insurancePolicyAsset.InsuredValue">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Deductible Amount" [value]="insurancePolicyAsset.DeductibleAmount">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Currency Code" [value]="insurancePolicyAsset.CurrencyCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Beneficiary Party Id" [value]="insurancePolicyAsset.BeneficiaryPartyId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Status Code" [value]="insurancePolicyAsset.StatusCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Record Status" [value]="insurancePolicyAsset.RecordStatus">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>