<div class="container">
  <div class="grid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <app-message [AlertType]="'message'"></app-message>
        <app-toolbar-buttons
          (onItemClicked)="onOptionItemClicked($event)"
          [permission]="permission"
          [Caption]="Caption"
          [PageType]="'Details'"
          [form]="editForm">
        </app-toolbar-buttons>
        <app-spinner></app-spinner>

        <form [formGroup]="editForm" (ngSubmit)="Save()">
          <p-fluid>
            <div class="flex mt-8">
              <div class="card flex flex-col gap-4 w-full">
                <div class="flex flex-col md:flex-row gap-4">
                  <div class="flex flex-col w-full">
                    <label for="ProcessCode">Process Code</label>
                    <p-dropdown
                      inputId="ProcessCode"
                      [options]="processcodeOptions"
                      optionLabel="Text"
                      optionValue="Value"
                      formControlName="ProcessCode"
                      placeholder="Select One"
                      class="w-full">
                    </p-dropdown>
                    <app-validation-errors [type]="'text'" [control]="editForm.get('ProcessCode')" label="Process Code">
                    </app-validation-errors>
                  </div>
                  <div class="flex flex-col w-full">
                    <label for="ApprovalLevel">Approval Level</label>
                    <p-inputNumber id="ApprovalLevel" pSize="small" formControlName="ApprovalLevel"></p-inputNumber>
                    <app-validation-errors [type]="'number'" [control]="editForm.get('ApprovalLevel')" label="Approval Level">
                    </app-validation-errors>
                  </div>
                </div>

                <div class="flex flex-col md:flex-row gap-4">
                  <div class="flex flex-col w-full">
                    <label for="AuthorityType">Authority Type</label>
                    <p-dropdown
                      inputId="AuthorityType"
                      [options]="authoritytypeOptions"
                      optionLabel="Text"
                      optionValue="Value"
                      formControlName="AuthorityType"
                      placeholder="Select One"
                      class="w-full">
                    </p-dropdown>
                    <app-validation-errors [type]="'text'" [control]="editForm.get('AuthorityType')" label="Authority Type">
                    </app-validation-errors>
                  </div>

                  <div *ngIf="showRoleIdDropdown" class="flex flex-col w-full">
                    <label for="RoleId">Role</label>
                    <p-dropdown
                      inputId="RoleId"
                      [options]="roleidOptions"
                      optionLabel="Text"
                      optionValue="Value"
                      formControlName="RoleId"
                      placeholder="Select One"
                      class="w-full">
                    </p-dropdown>
                    <app-validation-errors [type]="'text'" [control]="editForm.get('RoleId')" label="Role">
                    </app-validation-errors>
                  </div>

                  <div *ngIf="showApplicationUserIdDropdown" class="flex flex-col w-full">
                    <label for="ApplicationUserId">Application User</label>
                    <p-dropdown
                      inputId="ApplicationUserId"
                      [options]="applicationuseridOptions"
                      optionLabel="Text"
                      optionValue="Value"
                      formControlName="ApplicationUserId"
                      placeholder="Select One"
                      class="w-full">
                    </p-dropdown>
                    <app-validation-errors [type]="'text'" [control]="editForm.get('ApplicationUserId')" label="Application User">
                    </app-validation-errors>
                  </div>
                </div>

                <div class="flex flex-col md:flex-row gap-4">
                  <div class="flex flex-col w-full">
                    <label for="OrganisationUnitId">Organisation Unit</label>
                    <p-dropdown
                      inputId="OrganisationUnitId"
                      [options]="organisationunitidOptions"
                      optionLabel="Text"
                      optionValue="Value"
                      formControlName="OrganisationUnitId"
                      placeholder="Select One"
                      class="w-full">
                    </p-dropdown>
                    <app-validation-errors [type]="'text'" [control]="editForm.get('OrganisationUnitId')" label="Organisation Unit">
                    </app-validation-errors>
                  </div>
                </div>

                <div class="flex flex-col md:flex-row gap-4">
                  <div class="flex flex-col w-full">
                    <label for="MinimumAmount">Minimum Amount</label>
                    <p-inputNumber id="MinimumAmount" pSize="small" formControlName="MinimumAmount"></p-inputNumber>
                    <app-validation-errors [type]="'number'" [control]="editForm.get('MinimumAmount')" label="Minimum Amount">
                    </app-validation-errors>
                  </div>
                  <div class="flex flex-col w-full">
                    <label for="MaximumAmount">Maximum Amount</label>
                    <p-inputNumber id="MaximumAmount" pSize="small" formControlName="MaximumAmount"></p-inputNumber>
                    <app-validation-errors [type]="'number'" [control]="editForm.get('MaximumAmount')" label="Maximum Amount">
                    </app-validation-errors>
                  </div>
                </div>

                <div class="flex flex-col md:flex-row gap-4">
                  <div class="flex flex-col w-full">
                    <label for="RequiredApproverCount">Required Approver Count</label>
                    <p-inputNumber id="RequiredApproverCount" pSize="small" formControlName="RequiredApproverCount"></p-inputNumber>
                    <app-validation-errors [type]="'number'" [control]="editForm.get('RequiredApproverCount')" label="Required Approver Count">
                    </app-validation-errors>
                  </div>
                  <div class="flex flex-col w-full justify-end">
                    <div class="flex items-center gap-2 pt-8">
                      <p-checkbox inputId="CanDelegate" binary="true" formControlName="CanDelegate"></p-checkbox>
                      <label for="CanDelegate">Can Delegate</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-fluid>
        </form>
      </div>
    </div>
  </div>
</div>
