<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		       <form [formGroup]="editForm" (ngSubmit)="Save()">
 				<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Bank Statement Id" class="mb-1">BankStatementId</label>
        <p-dropdown
            inputId="BankStatementId" 
            [options]="bankstatementidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="BankStatementId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('BankStatementId')"
											label="Bank Statement Id">
										</app-validation-errors></div><div class="flex flex-col w-full">			
							<label for="TransactionDate">Transaction Date 
							</label> 
							<p-calendar id="TransactionDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="TransactionDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('TransactionDate')"
											label="Transaction Date">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="ValueDate">Value Date 
							</label> 
							<p-calendar id="ValueDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="ValueDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('ValueDate')"
											label="Value Date">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">					
							<label for="BankReference">Bank Reference 
							</label> 
							<input pInputText id="BankReference" type="text" pSize="small"	formControlName="BankReference"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('BankReference')"
											label="Bank Reference">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">                 <label for="address">Narration</label>
                    <textarea size="small" pTextarea placeholder="Type Narration" [autoResize]="true" rows="3" class="w-full"
										cols="30" formControlName="Narration"
										[ngClass]="{'is-invalid': (editForm.get('Narration').touched || editForm.get('Narration').dirty) && !editForm.get('Narration').valid }"></textarea>
<app-validation-errors [type]="'text'" [control]="editForm.get('Narration')"
											label="Narration">
										</app-validation-errors>


               </div><div class="flex flex-col w-full">							<label for="DebitAmount">Debit Amount 
							</label> 
							<p-inputNumber id="DebitAmount"  pSize="small"	formControlName="DebitAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('DebitAmount')"
											label="Debit Amount">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="CreditAmount">Credit Amount 
							</label> 
							<p-inputNumber id="CreditAmount"  pSize="small"	formControlName="CreditAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('CreditAmount')"
											label="Credit Amount">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Matched Payment Receipt Id" class="mb-1">MatchedPaymentReceiptId</label>
        <p-dropdown
            inputId="MatchedPaymentReceiptId" 
            [options]="matchedpaymentreceiptidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="MatchedPaymentReceiptId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('MatchedPaymentReceiptId')"
											label="Matched Payment Receipt Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Match Status" class="mb-1">MatchStatus</label>
        <p-dropdown
            inputId="MatchStatus" 
            [options]="matchstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="MatchStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('MatchStatus')"
											label="Match Status">
										</app-validation-errors></div><div class="flex flex-col w-full">							<label for="MatchConfidence">Match Confidence 
							</label> 
							<p-inputNumber id="MatchConfidence"  pSize="small"	formControlName="MatchConfidence"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('MatchConfidence')"
											label="Match Confidence">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 	
                     </form>			 

			</div>
		</div>
	</div>
</div>

 

