<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Lease Contract Id" [value]="contractHandoff.LeaseContractId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Reference Type" [value]="contractHandoff.ReferenceType">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Reference Id" [value]="contractHandoff.ReferenceId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Target Module Code" [value]="contractHandoff.TargetModuleCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Handoff Status Code" [value]="contractHandoff.HandoffStatusCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Handoff Date Time" [value]="contractHandoff.HandoffDateTime">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Target Reference Id" [value]="contractHandoff.TargetReferenceId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Validation Json" [value]="contractHandoff.ValidationJson">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>