<div class="grid">
	<div class="col-12">
		<div class="card">
			<app-message [AlertType]="'message'"></app-message>
			<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
				[Caption]="Caption" [PageType]="'List'">
			</app-toolbar-buttons>
			<app-spinner></app-spinner>
			<div class="col-12 md:col-6">
				<div class="flex flex-col items-center mb-12">
					<div class="w-1/2 md:w-6 lg:w-4 xl:w-3">
						<p-inputGroup>
							<input pSize="small" type="text" class="p-inputtext-sm" pInputText placeholder="type name"
								[(ngModel)]="objSearch.Name" />
							<p-inputgroup-addon>
								<i class="pi pi-times" style="cursor: pointer;" (click)="clearSearch()"></i>
							</p-inputgroup-addon>
							<p-button label="Search" pRipple size="small" (click)="search()" />
							<div class="ml-3" style="display: flex; align-items: center;">
								<p-checkbox size="small" [(ngModel)]="objSearch.IncludeDeleted" binary="true"
									inputId="IncludeDeleted">
								</p-checkbox>
								<label for="IncludeDeleted" style="margin-left: 0.5rem; font-size: small;">Include
									Deleted</label>
							</div>
						</p-inputGroup>

						<label for="Records Found" style=" font-size:small;">Records Found: {{totalNoOfRecords}}</label>
					</div>

				</div>
			</div>
			<p-table [size]="gridSize" [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px"
				styleClass="list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:60px">Id <p-sortIcon field="Id" /> </th>
						<th style="width:200px" pSortableColumn="FirstName">First Name <p-sortIcon field="FirstName " />
						</th>
						<th style="width:200px" pSortableColumn="LastName">Last Name <p-sortIcon field="LastName " />
						</th>
						<th style="width:200px">EmailId </th>
						<th style="width:200px">Designation </th>
						<th style="width:200px">Department </th>


					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr [ngStyle]="rowStyle(obj)">
						<td pFrozenColumn pTooltip="Click here to view details">
							<i class="pi pi-file-edit" style="font-size: small" style="margin-right: -10px;"></i>
							<p-button  label="{{obj.Id}}" [link]="true" (click)="onDetailsClick(obj)" />
						</td>
						<td>{{obj.FirstName}}</td>
						<td>{{obj.LastName}}</td>
						<td>{{obj.EmailId}}</td>
						<td>{{obj.Designation}}</td>
						<td>{{obj.Department}}</td>
					</tr>
				</ng-template>
			</p-table>
			<div class="flex justify-content-center">
				<p-paginator (onPageChange)="onPageChanged($event)"  [first]="pgEvent.first" [rows]="pgEvent.rows"
					[totalRecords]="totalNoOfRecords" [rowsPerPageOptions]="[10,20,30,40,50]" />
			</div>
		</div>
	</div>
</div>