 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Billing Organisation Id" class="mb-1">BillingOrganisationId</label>
        <p-dropdown
            inputId="BillingOrganisationId" 
            [options]="billingorganisationidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="BillingOrganisationId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('BillingOrganisationId')"
											label="Billing Organisation Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Customer Party Id" class="mb-1">CustomerPartyId</label>
        <p-dropdown
            inputId="CustomerPartyId" 
            [options]="customerpartyidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CustomerPartyId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CustomerPartyId')"
											label="Customer Party Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Customer Invoice Id" class="mb-1">CustomerInvoiceId</label>
        <p-dropdown
            inputId="CustomerInvoiceId" 
            [options]="customerinvoiceidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CustomerInvoiceId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CustomerInvoiceId')"
											label="Customer Invoice Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Lease Contract Id" class="mb-1">LeaseContractId</label>
        <p-dropdown
            inputId="LeaseContractId" 
            [options]="leasecontractidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="LeaseContractId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('LeaseContractId')"
											label="Lease Contract Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="CreditNoteDate">Credit Note Date 
							</label> 
							<p-calendar id="CreditNoteDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="CreditNoteDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('CreditNoteDate')"
											label="Credit Note Date">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Reason Code" class="mb-1">ReasonCode</label>
        <p-dropdown
            inputId="ReasonCode" 
            [options]="reasoncodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ReasonCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ReasonCode')"
											label="Reason Code">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Currency Code" class="mb-1">CurrencyCode</label>
        <p-dropdown
            inputId="CurrencyCode" 
            [options]="currencycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CurrencyCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CurrencyCode')"
											label="Currency Code">
										</app-validation-errors></div><div class="flex flex-col w-full">							<label for="NetAmount">Net Amount 
							</label> 
							<p-inputNumber id="NetAmount"  pSize="small"	formControlName="NetAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('NetAmount')"
											label="Net Amount">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="TaxAmount">Tax Amount 
							</label> 
							<p-inputNumber id="TaxAmount"  pSize="small"	formControlName="TaxAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('TaxAmount')"
											label="Tax Amount">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">							<label for="GrossAmount">Gross Amount 
							</label> 
							<p-inputNumber id="GrossAmount"  pSize="small"	formControlName="GrossAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('GrossAmount')"
											label="Gross Amount">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Status Code" class="mb-1">StatusCode</label>
        <p-dropdown
            inputId="StatusCode" 
            [options]="statuscodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="StatusCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('StatusCode')"
											label="Status Code">
										</app-validation-errors></div><div class="flex flex-col w-full">					
							<label for="ExternalEInvoiceRef">External E Invoice Ref 
							</label> 
							<input pInputText id="ExternalEInvoiceRef" type="text" pSize="small"	formControlName="ExternalEInvoiceRef"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('ExternalEInvoiceRef')"
											label="External E Invoice Ref">
										</app-validation-errors>
						 </div></div>


					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>