<div class="grid">
    <div class="col-12">
        <div class="card">
            <app-message [AlertType]="'message'"></app-message>
            <app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'User Organisation Unit List'" [PageType]="'List'"></app-toolbar-buttons>
            <app-spinner></app-spinner>
            <div class="col-12 md:col-6">
                <p-inputGroup>
                    <input type="text" class="p-inputtext-sm" pInputText placeholder="Search organisation-unit access" [(ngModel)]="objSearch.Name" />
                    <button type="button" pButton label="Search" class="btn-sm" (click)="search()"></button>
                </p-inputGroup>
            </div>
            <p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pFrozenColumn pSortableColumn="OrganisationUnitDisplayName" style="width: 280px">Organisation Unit <p-sortIcon field="OrganisationUnitDisplayName" /></th>
                        <th pSortableColumn="ApplicationUserName" style="width: 240px">User <p-sortIcon field="ApplicationUserName" /></th>
                        <th pSortableColumn="AccessLevel" style="width: 160px">Access Level <p-sortIcon field="AccessLevel" /></th>
                        <th style="width: 160px">Default</th>
                        <th style="width: 130px">Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-obj>
                    <tr>
                        <td style="width: 280px" pFrozenColumn><p-button [label]="obj.OrganisationUnitDisplayName" [link]="true" (click)="onDetailsClick(obj)" /></td>
                        <td style="width: 240px">{{ obj.ApplicationUserName }}</td>
                        <td style="width: 160px">{{ obj.AccessLevel }}</td>
                        <td style="width: 160px">{{ obj.IsDefault ? 'Yes' : 'No' }}</td>
                        <td style="width: 130px">{{ obj.RecordStatus }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
