<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		       <form [formGroup]="editForm" (ngSubmit)="Save()">
 				<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Asset Id" class="mb-1">AssetId</label>
        <p-dropdown
            inputId="AssetId" 
            [options]="assetidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AssetId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AssetId')"
											label="Asset Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Asset Measure Definition Id" class="mb-1">AssetMeasureDefinitionId</label>
        <p-dropdown
            inputId="AssetMeasureDefinitionId" 
            [options]="assetmeasuredefinitionidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AssetMeasureDefinitionId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AssetMeasureDefinitionId')"
											label="Asset Measure Definition Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="ReadingValue">Reading Value 
							</label> 
							<p-inputNumber id="ReadingValue"  pSize="small"	formControlName="ReadingValue"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('ReadingValue')"
											label="Reading Value">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">			
							<label for="ReadingDateTime">Reading Date Time 
							</label> 
							<p-calendar id="ReadingDateTime"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="ReadingDateTime"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('ReadingDateTime')"
											label="Reading Date Time">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Reading Source Id" class="mb-1">ReadingSourceId</label>
        <p-dropdown
            inputId="ReadingSourceId" 
            [options]="readingsourceidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ReadingSourceId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ReadingSourceId')"
											label="Reading Source Id">
										</app-validation-errors></div><div class="flex flex-col w-full">					
							<label for="SourceReference">Source Reference 
							</label> 
							<input pInputText id="SourceReference" type="text" pSize="small"	formControlName="SourceReference"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('SourceReference')"
											label="Source Reference">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><label class="pt-8"></label>
										<div class="flex items-center gap-2">
											<p-checkbox inputId="IsVerified" binary="true" formControlName="IsVerified">
											</p-checkbox>
											<label for="IsVerified">Is Verified</label>
										</div>
										<div class="validation-space"></div></div><div class="flex flex-col w-full"> <label for="Recorded By" class="mb-1">RecordedBy</label>
        <p-dropdown
            inputId="RecordedBy" 
            [options]="recordedbyOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordedBy"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordedBy')"
											label="Recorded By">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 	
                     </form>			 

			</div>
		</div>
	</div>
</div>

 

