<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Supplier Invoice Id" [value]="supplierInvoiceLine.SupplierInvoiceId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Line No" [value]="supplierInvoiceLine.LineNo">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Purchase Order Line Id" [value]="supplierInvoiceLine.PurchaseOrderLineId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Goods Receipt Line Id" [value]="supplierInvoiceLine.GoodsReceiptLineId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Description" [value]="supplierInvoiceLine.Description">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Invoiced Quantity" [value]="supplierInvoiceLine.InvoicedQuantity">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="UOM Id" [value]="supplierInvoiceLine.UOMId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Unit Price" [value]="supplierInvoiceLine.UnitPrice">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Tax Amount" [value]="supplierInvoiceLine.TaxAmount">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Line Total" [value]="supplierInvoiceLine.LineTotal">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>