<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		       <form [formGroup]="editForm" (ngSubmit)="Save()">
 				<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="RFQ Id" class="mb-1">RFQId</label>
        <p-dropdown
            inputId="RFQId" 
            [options]="rfqidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RFQId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RFQId')"
											label="RFQ Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Supplier Quotation Id" class="mb-1">SupplierQuotationId</label>
        <p-dropdown
            inputId="SupplierQuotationId" 
            [options]="supplierquotationidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="SupplierQuotationId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('SupplierQuotationId')"
											label="Supplier Quotation Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Supplier Party Id" class="mb-1">SupplierPartyId</label>
        <p-dropdown
            inputId="SupplierPartyId" 
            [options]="supplierpartyidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="SupplierPartyId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('SupplierPartyId')"
											label="Supplier Party Id">
										</app-validation-errors></div><div class="flex flex-col w-full">			
							<label for="AwardDateTime">Award Date Time 
							</label> 
							<p-calendar id="AwardDateTime"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="AwardDateTime"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('AwardDateTime')"
											label="Award Date Time">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="TechnicalScore">Technical Score 
							</label> 
							<p-inputNumber id="TechnicalScore"  pSize="small"	formControlName="TechnicalScore"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('TechnicalScore')"
											label="Technical Score">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">							<label for="CommercialScore">Commercial Score 
							</label> 
							<p-inputNumber id="CommercialScore"  pSize="small"	formControlName="CommercialScore"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('CommercialScore')"
											label="Commercial Score">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="AwardAmount">Award Amount 
							</label> 
							<p-inputNumber id="AwardAmount"  pSize="small"	formControlName="AwardAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('AwardAmount')"
											label="Award Amount">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Currency Code" class="mb-1">CurrencyCode</label>
        <p-dropdown
            inputId="CurrencyCode" 
            [options]="currencycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CurrencyCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CurrencyCode')"
											label="Currency Code">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">                 <label for="address">Selection Reason</label>
                    <textarea size="small" pTextarea placeholder="Type Selection Reason" [autoResize]="true" rows="3" class="w-full"
										cols="30" formControlName="SelectionReason"
										[ngClass]="{'is-invalid': (editForm.get('SelectionReason').touched || editForm.get('SelectionReason').dirty) && !editForm.get('SelectionReason').valid }"></textarea>
<app-validation-errors [type]="'text'" [control]="editForm.get('SelectionReason')"
											label="Selection Reason">
										</app-validation-errors>


               </div><div class="flex flex-col w-full"> <label for="Approval Request Id" class="mb-1">ApprovalRequestId</label>
        <p-dropdown
            inputId="ApprovalRequestId" 
            [options]="approvalrequestidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ApprovalRequestId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ApprovalRequestId')"
											label="Approval Request Id">
										</app-validation-errors></div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full"> <label for="Awarded By" class="mb-1">AwardedBy</label>
        <p-dropdown
            inputId="AwardedBy" 
            [options]="awardedbyOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AwardedBy"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AwardedBy')"
											label="Awarded By">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 	
                     </form>			 

			</div>
		</div>
	</div>
</div>

 

