<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons>
				<app-spinner></app-spinner>

				<form [formGroup]="editForm" (ngSubmit)="Save()">
					<p-fluid>
						<div class="flex mt-8">
							<div class="card flex flex-col gap-4 w-full">
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">
										<label for="RoleType" class="mb-1">RoleType</label>
										<p-dropdown inputId="RoleType" [options]="roletypeOptions" optionLabel="Text"
											optionValue="Value" formControlName="RoleType" placeholder="Select One"
											class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'" [control]="editForm.get('RoleType')"
											label="RoleType">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="RoleCode" class="mb-1">Role Code</label> 
										<input pInputText id="RoleCode" type="text" pSize="small"
											formControlName="RoleCode" />
										<app-validation-errors [type]="'text'" [control]="editForm.get('RoleCode')"
											label="RoleCode">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">
										<label for="OrganisationId" class="mb-1">OrganisationId</label>
										<p-dropdown inputId="OrganisationId" [options]="organisationidOptions"
											optionLabel="Text" optionValue="Value" formControlName="OrganisationId"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('OrganisationId')" label="OrganisationId">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">
										<label for="RoleStatus" class="mb-1">RoleStatus</label>
										<p-dropdown inputId="RoleStatus" [options]="rolestatusOptions"
											optionLabel="Text" optionValue="Value" formControlName="RoleStatus"
											placeholder="Select One" class="w-full">
										</p-dropdown>
										<app-validation-errors [type]="'text'" [control]="editForm.get('RoleStatus')"
											label="RoleStatus">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-col md:flex-row gap-4">
									<div class="flex flex-col w-full">

										<label for="OnboardingReference">OnboardingReference
										</label>
										<input pInputText id="OnboardingReference" type="text" pSize="small"
											formControlName="OnboardingReference" />
										<app-validation-errors [type]="'text'"
											[control]="editForm.get('OnboardingReference')" label="OnboardingReference">
										</app-validation-errors>
									</div>
									<div class="flex flex-col w-full">

										<label for="ApprovedBy">Approved By
										</label>
										<p-dropdown inputId="ApprovedBy" [options]="approvedbyOptions"
											optionLabel="Text" optionValue="Value" formControlName="ApprovedById"
											placeholder="Select One" class="w-full">
										</p-dropdown>
						<app-validation-errors [type]="'text'" [control]="editForm.get('ApprovedById')"
											label="ApprovedBy">
										</app-validation-errors>
									</div>
								</div>
								 
								<div class="flex flex-col md:flex-row gap-4">
									
									<div class="flex flex-col w-full">

										<label for="EffectiveFrom">EffectiveFrom
										</label>
										<p-calendar id="EffectiveFrom" size="small" dateFormat="dd-MM-yy"
											[showIcon]="true" formControlName="EffectiveFrom"></p-calendar>
										<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveFrom')"
											label="EffectiveFrom">
										</app-validation-errors>
									</div>
								</div>
								<div class="flex flex-wrap">
									<div class="flex flex-col w-full">

										<label for="EffectiveTo">EffectiveTo
										</label>
										<p-calendar id="EffectiveTo" size="small" dateFormat="dd-MM-yy"
											[showIcon]="true" formControlName="EffectiveTo"></p-calendar>
										<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveTo')"
											label="EffectiveTo">
										</app-validation-errors>
									</div>
								</div>


							</div>
						</div>
					</p-fluid>
				</form>

			</div>
		</div>
	</div>
</div>
