<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Customer Invoice Id" [value]="customerInvoiceTax.CustomerInvoiceId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Customer Invoice Line Id" [value]="customerInvoiceTax.CustomerInvoiceLineId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Tax Type Id" [value]="customerInvoiceTax.TaxTypeId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Tax Jurisdiction Id" [value]="customerInvoiceTax.TaxJurisdictionId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Tax Code" [value]="customerInvoiceTax.TaxCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Tax Rate" [value]="customerInvoiceTax.TaxRate">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Taxable Amount" [value]="customerInvoiceTax.TaxableAmount">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Tax Amount" [value]="customerInvoiceTax.TaxAmount">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Tax Registration Snapshot" [value]="customerInvoiceTax.TaxRegistrationSnapshot">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Record Status" [value]="customerInvoiceTax.RecordStatus">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>