 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">					
							<label for="ExceptionNo">Exception No 
							</label> 
							<input pInputText id="ExceptionNo" type="text" pSize="small"	formControlName="ExceptionNo"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('ExceptionNo')"
											label="Exception No">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Domain Code" class="mb-1">DomainCode</label>
        <p-dropdown
            inputId="DomainCode" 
            [options]="domaincodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="DomainCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('DomainCode')"
											label="Domain Code">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Exception Type Code" class="mb-1">ExceptionTypeCode</label>
        <p-dropdown
            inputId="ExceptionTypeCode" 
            [options]="exceptiontypecodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ExceptionTypeCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ExceptionTypeCode')"
											label="Exception Type Code">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Reference Type Code" class="mb-1">ReferenceTypeCode</label>
        <p-dropdown
            inputId="ReferenceTypeCode" 
            [options]="referencetypecodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ReferenceTypeCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ReferenceTypeCode')"
											label="Reference Type Code">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="ReferenceId">Reference Id 
							</label> 
							<p-inputNumber id="ReferenceId"  pSize="small"	formControlName="ReferenceId"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('ReferenceId')"
											label="Reference Id">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Severity Code" class="mb-1">SeverityCode</label>
        <p-dropdown
            inputId="SeverityCode" 
            [options]="severitycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="SeverityCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('SeverityCode')"
											label="Severity Code">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">                 <label for="address">Reason</label>
                    <textarea size="small" pTextarea placeholder="Type Reason" [autoResize]="true" rows="3" class="w-full"
										cols="30" formControlName="Reason"
										[ngClass]="{'is-invalid': (editForm.get('Reason').touched || editForm.get('Reason').dirty) && !editForm.get('Reason').valid }"></textarea>
<app-validation-errors [type]="'text'" [control]="editForm.get('Reason')"
											label="Reason">
										</app-validation-errors>


               </div><div class="flex flex-col w-full"> <label for="Assigned To User Id" class="mb-1">AssignedToUserId</label>
        <p-dropdown
            inputId="AssignedToUserId" 
            [options]="assignedtouseridOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AssignedToUserId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AssignedToUserId')"
											label="Assigned To User Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Status Code" class="mb-1">StatusCode</label>
        <p-dropdown
            inputId="StatusCode" 
            [options]="statuscodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="StatusCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('StatusCode')"
											label="Status Code">
										</app-validation-errors></div><div class="flex flex-col w-full">			
							<label for="ResolvedAt">Resolved At 
							</label> 
							<p-calendar id="ResolvedAt"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="ResolvedAt"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('ResolvedAt')"
											label="Resolved At">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>