<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Exception No" [value]="maintenanceInsuranceException.ExceptionNo">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Domain Code" [value]="maintenanceInsuranceException.DomainCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Exception Type Code" [value]="maintenanceInsuranceException.ExceptionTypeCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Reference Type Code" [value]="maintenanceInsuranceException.ReferenceTypeCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Reference Id" [value]="maintenanceInsuranceException.ReferenceId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Severity Code" [value]="maintenanceInsuranceException.SeverityCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Reason" [value]="maintenanceInsuranceException.Reason">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Assigned To User Id" [value]="maintenanceInsuranceException.AssignedToUserId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Status Code" [value]="maintenanceInsuranceException.StatusCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Resolved At" [value]="maintenanceInsuranceException.ResolvedAt">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>