 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="AssetId" class="mb-1">AssetId</label>
        <p-dropdown
            inputId="AssetId" 
            [options]="assetidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AssetId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AssetId')"
											label="AssetId">
										</app-validation-errors></div><div class="flex flex-col w-full">					
							<label for="EquipmentSerialNo">Equipment SerialNo 
							</label> 
							<input pInputText id="EquipmentSerialNo" type="text" pSize="small"	formControlName="EquipmentSerialNo"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('EquipmentSerialNo')"
											label="Equipment SerialNo">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="CapacityValue">Capacity Value 
							</label> 
							<p-inputNumber id="CapacityValue"  pSize="small"	formControlName="CapacityValue"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('CapacityValue')"
											label="Capacity Value">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">							<label for="CapacityUOMId">CapacityUOMId 
							</label> 
							<p-inputNumber id="CapacityUOMId"  pSize="small"	formControlName="CapacityUOMId"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('CapacityUOMId')"
											label="CapacityUOMId">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="PowerRating">Power Rating 
							</label> 
							<p-inputNumber id="PowerRating"  pSize="small"	formControlName="PowerRating"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('PowerRating')"
											label="Power Rating">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">							<label for="PowerUOMId">PowerUOMId 
							</label> 
							<p-inputNumber id="PowerUOMId"  pSize="small"	formControlName="PowerUOMId"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('PowerUOMId')"
											label="PowerUOMId">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="ManufactureDate">Manufacture Date 
							</label> 
							<p-calendar id="ManufactureDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="ManufactureDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('ManufactureDate')"
											label="Manufacture Date">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Safety Class" class="mb-1">SafetyClass</label>
        <p-dropdown
            inputId="SafetyClass" 
            [options]="safetyclassOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="SafetyClass"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('SafetyClass')"
											label="Safety Class">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="EffectiveFrom">Effective From 
							</label> 
							<p-calendar id="EffectiveFrom"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveFrom"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveFrom')"
											label="Effective From">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">			
							<label for="EffectiveTo">Effective To 
							</label> 
							<p-calendar id="EffectiveTo"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveTo"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveTo')"
											label="Effective To">
										</app-validation-errors>
						 </div></div>


					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>