 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="End Of Lease Case Id" class="mb-1">EndOfLeaseCaseId</label>
        <p-dropdown
            inputId="EndOfLeaseCaseId" 
            [options]="endofleasecaseidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="EndOfLeaseCaseId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('EndOfLeaseCaseId')"
											label="End Of Lease Case Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Asset Id" class="mb-1">AssetId</label>
        <p-dropdown
            inputId="AssetId" 
            [options]="assetidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AssetId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AssetId')"
											label="Asset Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Handoff Reason Code" class="mb-1">HandoffReasonCode</label>
        <p-dropdown
            inputId="HandoffReasonCode" 
            [options]="handoffreasoncodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="HandoffReasonCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('HandoffReasonCode')"
											label="Handoff Reason Code">
										</app-validation-errors></div><div class="flex flex-col w-full">			
							<label for="RequestedAt">Requested At 
							</label> 
							<p-calendar id="RequestedAt"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="RequestedAt"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('RequestedAt')"
											label="Requested At">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Requested By User Id" class="mb-1">RequestedByUserId</label>
        <p-dropdown
            inputId="RequestedByUserId" 
            [options]="requestedbyuseridOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RequestedByUserId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RequestedByUserId')"
											label="Requested By User Id">
										</app-validation-errors></div><div class="flex flex-col w-full">							<label for="BudgetAmount">Budget Amount 
							</label> 
							<p-inputNumber id="BudgetAmount"  pSize="small"	formControlName="BudgetAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('BudgetAmount')"
											label="Budget Amount">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Currency Code" class="mb-1">CurrencyCode</label>
        <p-dropdown
            inputId="CurrencyCode" 
            [options]="currencycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CurrencyCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CurrencyCode')"
											label="Currency Code">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Maintenance Work Order Id" class="mb-1">MaintenanceWorkOrderId</label>
        <p-dropdown
            inputId="MaintenanceWorkOrderId" 
            [options]="maintenanceworkorderidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="MaintenanceWorkOrderId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('MaintenanceWorkOrderId')"
											label="Maintenance Work Order Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Status Code" class="mb-1">StatusCode</label>
        <p-dropdown
            inputId="StatusCode" 
            [options]="statuscodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="StatusCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('StatusCode')"
											label="Status Code">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>