<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="QuoteId" [value]="quoteCharge.QuoteId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Quote AssetId" [value]="quoteCharge.QuoteAssetId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Charge Type" [value]="quoteCharge.ChargeType">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Charge Description" [value]="quoteCharge.ChargeDescription">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Calculation TypeCode" [value]="quoteCharge.CalculationTypeCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Rate Or Amount" [value]="quoteCharge.RateOrAmount">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Charge Amount" [value]="quoteCharge.ChargeAmount">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="IsRecurring" [value]="quoteCharge.IsRecurring">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>