<div class="grid list-page generated-list-page">
<div class="col-12">
		<div class="card list-card generated-list-card">
            <app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'QuoteCharge List'"
					[PageType]="'List'">
				</app-toolbar-buttons>
				<app-spinner></app-spinner>
				<div class="generated-list-search">
    <input type="search" class="p-inputtext-sm generated-list-input" pInputText placeholder="Search..." [(ngModel)]="objSearch.Name" (keyup.enter)="search()" aria-label="Search records" />
    <button type="button" pButton icon="pi pi-search" class="generated-list-action" (click)="search()" aria-label="Search records" title="Search"></button>
    <button type="button" pButton icon="pi pi-times" class="generated-list-action generated-list-clear" (click)="clearSearch()" aria-label="Clear search" title="Clear search"></button>
    <div class="record-count-inline generated-list-count" aria-live="polite"><i class="pi pi-list"></i><strong>{{ totalNoOfRecords }}</strong><span>records</span></div>
</div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table generated-list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">ID <p-sortIcon field="Id" /> </th>
						 <th style="width:200px">Quote ID <p-sortIcon field="QuoteId" /> </th>
<th style="width:200px">Charge Type <p-sortIcon field="ChargeType" /> </th>
<th style="width:200px">Charge Description <p-sortIcon field="ChargeDescription" /> </th>
<th style="width:200px">Calculation Type Code <p-sortIcon field="CalculationTypeCode" /> </th>
<th style="width:200px">Rate Or Amount <p-sortIcon field="RateOrAmount" /> </th>
<th style="width:200px">Is Recurring <p-sortIcon field="IsRecurring" /> </th>
<th style="width:200px">Tax Code <p-sortIcon field="TaxCode" /> </th>

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.QuoteChargeId}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.QuoteId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ChargeType}}</td>
 <td style="width:200px">{{obj.ChargeDescription}}</td>
 <td style="width:200px">{{obj.CalculationTypeCode}}</td>
 <td style="width:200px">{{obj.RateOrAmount | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.IsRecurring | yesNo }}</td>
 <td style="width:200px">{{obj.TaxCode}}</td>

					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>

