 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Organisation Id" class="mb-1">OrganisationId</label>
        <p-dropdown
            inputId="OrganisationId" 
            [options]="organisationidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="OrganisationId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('OrganisationId')"
											label="Organisation Id">
										</app-validation-errors></div><div class="flex flex-col w-full">			
							<label for="JournalDate">Journal Date 
							</label> 
							<p-calendar id="JournalDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="JournalDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('JournalDate')"
											label="Journal Date">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">					
							<label for="PeriodCode">Period Code 
							</label> 
							<input pInputText id="PeriodCode" type="text" pSize="small"	formControlName="PeriodCode"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('PeriodCode')"
											label="Period Code">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Source Module" class="mb-1">SourceModule</label>
        <p-dropdown
            inputId="SourceModule" 
            [options]="sourcemoduleOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="SourceModule"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('SourceModule')"
											label="Source Module">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Currency Code" class="mb-1">CurrencyCode</label>
        <p-dropdown
            inputId="CurrencyCode" 
            [options]="currencycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CurrencyCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CurrencyCode')"
											label="Currency Code">
										</app-validation-errors></div><div class="flex flex-col w-full">							<label for="TotalDebit">Total Debit 
							</label> 
							<p-inputNumber id="TotalDebit"  pSize="small"	formControlName="TotalDebit"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('TotalDebit')"
											label="Total Debit">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="TotalCredit">Total Credit 
							</label> 
							<p-inputNumber id="TotalCredit"  pSize="small"	formControlName="TotalCredit"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('TotalCredit')"
											label="Total Credit">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Posting Status" class="mb-1">PostingStatus</label>
        <p-dropdown
            inputId="PostingStatus" 
            [options]="postingstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="PostingStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('PostingStatus')"
											label="Posting Status">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">					
							<label for="ExternalJournalRef">External Journal Ref 
							</label> 
							<input pInputText id="ExternalJournalRef" type="text" pSize="small"	formControlName="ExternalJournalRef"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('ExternalJournalRef')"
											label="External Journal Ref">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">			
							<label for="PostedAtUtc">Posted At Utc 
							</label> 
							<p-calendar id="PostedAtUtc"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="PostedAtUtc"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('PostedAtUtc')"
											label="Posted At Utc">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>