<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'ContractAssetReturnInstruction List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">Contract Asset Return Instruction Id <p-sortIcon field="ContractAssetReturnInstructionId" /> </th> 
<th style="width:200px">Lease Contract Id <p-sortIcon field="LeaseContractId" /> </th> 
<th style="width:200px">Lease Contract Asset Id <p-sortIcon field="LeaseContractAssetId" /> </th> 
<th style="width:200px">Contract Termination Id <p-sortIcon field="ContractTerminationId" /> </th> 
<th style="width:200px">Instruction Code <p-sortIcon field="InstructionCode" /> </th> 
<th style="width:200px">Required By Date <p-sortIcon field="RequiredByDate" /> </th> 
<th style="width:200px">Return Location Id <p-sortIcon field="ReturnLocationId" /> </th> 
<th style="width:200px">Status Code <p-sortIcon field="StatusCode" /> </th> 
<th style="width:200px">Operations Reference Id <p-sortIcon field="OperationsReferenceId" /> </th> 

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.ContractAssetReturnInstructionId}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.ContractAssetReturnInstructionId}}</td>
 <td style="width:200px">{{obj.LeaseContractId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.LeaseContractAssetId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ContractTerminationId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.InstructionCode}}</td>
 <td style="width:200px">{{obj.RequiredByDate | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.ReturnLocationId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.StatusCode}}</td>
 <td style="width:200px">{{obj.OperationsReferenceId | number:'1.0':'en-US' }}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  
