<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission"
					[Caption]="Caption" [PageType]="'View'"></app-toolbar-buttons>
					<app-spinner></app-spinner>
					<form> 
				<p-fluid>
		      			<div class="flex mt-8">
						<div class="card flex flex-col gap-4 w-full"> 
 						<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Lease Contract Id" [value]="contractAssetReturnInstruction.LeaseContractId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Lease Contract Asset Id" [value]="contractAssetReturnInstruction.LeaseContractAssetId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Contract Termination Id" [value]="contractAssetReturnInstruction.ContractTerminationId">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Instruction Code" [value]="contractAssetReturnInstruction.InstructionCode">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Required By Date" [value]="contractAssetReturnInstruction.RequiredByDate">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Return Location Id" [value]="contractAssetReturnInstruction.ReturnLocationId">
								</app-view-field></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><app-view-field label="Status Code" [value]="contractAssetReturnInstruction.StatusCode">
								</app-view-field></div><div class="flex flex-col w-full"><app-view-field label="Operations Reference Id" [value]="contractAssetReturnInstruction.OperationsReferenceId">
								</app-view-field></div></div>

						</div>
					</div>
 				</p-fluid> 	


					</form>
			</div>
		</div>
	</div>
</div>