 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Lease Contract Id" class="mb-1">LeaseContractId</label>
        <p-dropdown
            inputId="LeaseContractId" 
            [options]="leasecontractidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="LeaseContractId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('LeaseContractId')"
											label="Lease Contract Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Deposit Type Code" class="mb-1">DepositTypeCode</label>
        <p-dropdown
            inputId="DepositTypeCode" 
            [options]="deposittypecodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="DepositTypeCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('DepositTypeCode')"
											label="Deposit Type Code">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="RequiredAmount">Required Amount 
							</label> 
							<p-inputNumber id="RequiredAmount"  pSize="small"	formControlName="RequiredAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('RequiredAmount')"
											label="Required Amount">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Currency Code" class="mb-1">CurrencyCode</label>
        <p-dropdown
            inputId="CurrencyCode" 
            [options]="currencycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CurrencyCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CurrencyCode')"
											label="Currency Code">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="DueDate">Due Date 
							</label> 
							<p-calendar id="DueDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="DueDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('DueDate')"
											label="Due Date">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"><label class="pt-8"></label>
										<div class="flex items-center gap-2">
											<p-checkbox inputId="RefundableFlag" binary="true" formControlName="RefundableFlag">
											</p-checkbox>
											<label for="RefundableFlag">Refundable Flag</label>
										</div>
										<div class="validation-space"></div></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><label class="pt-8"></label>
										<div class="flex items-center gap-2">
											<p-checkbox inputId="InterestBearingFlag" binary="true" formControlName="InterestBearingFlag">
											</p-checkbox>
											<label for="InterestBearingFlag">Interest Bearing Flag</label>
										</div>
										<div class="validation-space"></div></div><div class="flex flex-col w-full">							<label for="FinanceReferenceId">Finance Reference Id 
							</label> 
							<p-inputNumber id="FinanceReferenceId"  pSize="small"	formControlName="FinanceReferenceId"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('FinanceReferenceId')"
											label="Finance Reference Id">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full"> <label for="Status Code" class="mb-1">StatusCode</label>
        <p-dropdown
            inputId="StatusCode" 
            [options]="statuscodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="StatusCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('StatusCode')"
											label="Status Code">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>