<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		       <form [formGroup]="editForm" (ngSubmit)="Save()">
 				<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Asset Disposition Decision Id" class="mb-1">AssetDispositionDecisionId</label>
        <p-dropdown
            inputId="AssetDispositionDecisionId" 
            [options]="assetdispositiondecisionidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AssetDispositionDecisionId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AssetDispositionDecisionId')"
											label="Asset Disposition Decision Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Asset Id" class="mb-1">AssetId</label>
        <p-dropdown
            inputId="AssetId" 
            [options]="assetidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AssetId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AssetId')"
											label="Asset Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Organisation Id" class="mb-1">OrganisationId</label>
        <p-dropdown
            inputId="OrganisationId" 
            [options]="organisationidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="OrganisationId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('OrganisationId')"
											label="Organisation Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Disposition Method Id" class="mb-1">DispositionMethodId</label>
        <p-dropdown
            inputId="DispositionMethodId" 
            [options]="dispositionmethodidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="DispositionMethodId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('DispositionMethodId')"
											label="Disposition Method Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="OpenedAt">Opened At 
							</label> 
							<p-calendar id="OpenedAt"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="OpenedAt"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('OpenedAt')"
											label="Opened At">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">			
							<label for="TargetCompletionDate">Target Completion Date 
							</label> 
							<p-calendar id="TargetCompletionDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="TargetCompletionDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('TargetCompletionDate')"
											label="Target Completion Date">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Assigned To User Id" class="mb-1">AssignedToUserId</label>
        <p-dropdown
            inputId="AssignedToUserId" 
            [options]="assignedtouseridOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="AssignedToUserId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('AssignedToUserId')"
											label="Assigned To User Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Status Code" class="mb-1">StatusCode</label>
        <p-dropdown
            inputId="StatusCode" 
            [options]="statuscodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="StatusCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('StatusCode')"
											label="Status Code">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="ClosedAt">Closed At 
							</label> 
							<p-calendar id="ClosedAt"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="ClosedAt"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('ClosedAt')"
											label="Closed At">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 	
                     </form>			 

			</div>
		</div>
	</div>
</div>

 

