 <div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		      <form [formGroup]="editForm" (ngSubmit)="Save()">
  			<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Lease Contract Id" class="mb-1">LeaseContractId</label>
        <p-dropdown
            inputId="LeaseContractId" 
            [options]="leasecontractidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="LeaseContractId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('LeaseContractId')"
											label="Lease Contract Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Option Type Code" class="mb-1">OptionTypeCode</label>
        <p-dropdown
            inputId="OptionTypeCode" 
            [options]="optiontypecodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="OptionTypeCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('OptionTypeCode')"
											label="Option Type Code">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="EarliestExerciseDate">Earliest Exercise Date 
							</label> 
							<p-calendar id="EarliestExerciseDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EarliestExerciseDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EarliestExerciseDate')"
											label="Earliest Exercise Date">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">			
							<label for="LatestExerciseDate">Latest Exercise Date 
							</label> 
							<p-calendar id="LatestExerciseDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="LatestExerciseDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('LatestExerciseDate')"
											label="Latest Exercise Date">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="NoticeDays">Notice Days 
							</label> 
							<p-inputNumber id="NoticeDays"  pSize="small"	formControlName="NoticeDays"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('NoticeDays')"
											label="Notice Days">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">							<label for="OptionPriceAmount">Option Price Amount 
							</label> 
							<p-inputNumber id="OptionPriceAmount"  pSize="small"	formControlName="OptionPriceAmount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('OptionPriceAmount')"
											label="Option Price Amount">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Currency Code" class="mb-1">CurrencyCode</label>
        <p-dropdown
            inputId="CurrencyCode" 
            [options]="currencycodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CurrencyCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CurrencyCode')"
											label="Currency Code">
										</app-validation-errors></div><div class="flex flex-col w-full">                 <label for="address">Terms Json</label>
                    <textarea size="small" pTextarea placeholder="Type Terms Json" [autoResize]="true" rows="3" class="w-full"
										cols="30" formControlName="TermsJson"
										[ngClass]="{'is-invalid': (editForm.get('TermsJson').touched || editForm.get('TermsJson').dirty) && !editForm.get('TermsJson').valid }"></textarea>
<app-validation-errors [type]="'text'" [control]="editForm.get('TermsJson')"
											label="Terms Json">
										</app-validation-errors>


               </div></div>
<div class="flex flex-wrap" > <div class="flex flex-col w-full"> <label for="Status Code" class="mb-1">StatusCode</label>
        <p-dropdown
            inputId="StatusCode" 
            [options]="statuscodeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="StatusCode"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('StatusCode')"
											label="Status Code">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 				 
                     </form>				 

			</div>
		</div>
	</div>
</div>