<div class="grid list-page generated-list-page">
<div class="col-12">
		<div class="card list-card generated-list-card">
            <app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'InsurancePolicy List'"
					[PageType]="'List'">
				</app-toolbar-buttons>
				<app-spinner></app-spinner>
				<div class="generated-list-search">
    <input type="search" class="p-inputtext-sm generated-list-input" pInputText placeholder="Search..." [(ngModel)]="objSearch.Name" (keyup.enter)="search()" aria-label="Search records" />
    <button type="button" pButton icon="pi pi-search" class="generated-list-action" (click)="search()" aria-label="Search records" title="Search"></button>
    <button type="button" pButton icon="pi pi-times" class="generated-list-action generated-list-clear" (click)="clearSearch()" aria-label="Clear search" title="Clear search"></button>
    <div class="record-count-inline generated-list-count" aria-live="polite"><i class="pi pi-list"></i><strong>{{ totalNoOfRecords }}</strong><span>records</span></div>
</div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table generated-list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">ID <p-sortIcon field="Id" /> </th>
						 <th style="width:200px">Policy No. <p-sortIcon field="PolicyNo" /> </th>
<th style="width:200px">Organisation ID <p-sortIcon field="OrganisationId" /> </th>
<th style="width:200px">Insurer Party ID <p-sortIcon field="InsurerPartyId" /> </th>
<th style="width:200px">Broker Party ID <p-sortIcon field="BrokerPartyId" /> </th>
<th style="width:200px">Insurance Policy Status ID <p-sortIcon field="InsurancePolicyStatusId" /> </th>
<th style="width:200px">Policy Type Code <p-sortIcon field="PolicyTypeCode" /> </th>
<th style="width:200px">Coverage Type ID <p-sortIcon field="CoverageTypeId" /> </th>
<th style="width:200px">Policy Start Date <p-sortIcon field="PolicyStartDate" /> </th>
<th style="width:200px">Policy End Date <p-sortIcon field="PolicyEndDate" /> </th>
<th style="width:200px">Currency Code <p-sortIcon field="CurrencyCode" /> </th>
<th style="width:200px">Total Insured Value <p-sortIcon field="TotalInsuredValue" /> </th>
<th style="width:200px">Premium Amount <p-sortIcon field="PremiumAmount" /> </th>
<th style="width:200px">Tax Amount <p-sortIcon field="TaxAmount" /> </th>
<th style="width:200px">Payment Reference ID <p-sortIcon field="PaymentReferenceId" /> </th>
<th style="width:200px">Previous Policy ID <p-sortIcon field="PreviousPolicyId" /> </th>
<th style="width:200px">Issued Date <p-sortIcon field="IssuedDate" /> </th>
<th style="width:200px">Record Status <p-sortIcon field="RecordStatus" /> </th>

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.Id}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.PolicyNo}}</td>
 <td style="width:200px">{{obj.OrganisationId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.InsurerPartyId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.BrokerPartyId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.InsurancePolicyStatusId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.PolicyTypeCode}}</td>
 <td style="width:200px">{{obj.CoverageTypeId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.PolicyStartDate | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.PolicyEndDate | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.CurrencyCode}}</td>
 <td style="width:200px">{{obj.TotalInsuredValue | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.PremiumAmount | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.TaxAmount | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.PaymentReferenceId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.PreviousPolicyId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.IssuedDate | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.RecordStatus}}</td>

					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>
