<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'AssetConditionGrade List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">Grade Code <p-sortIcon field="GradeCode" /> </th> 
<th style="width:200px">Grade Name <p-sortIcon field="GradeName" /> </th> 
<th style="width:200px">Score From <p-sortIcon field="ScoreFrom" /> </th> 
<th style="width:200px">Score To <p-sortIcon field="ScoreTo" /> </th> 
<th style="width:200px">Is Leaseable <p-sortIcon field="IsLeaseable" /> </th> 
<th style="width:200px">Record Status <p-sortIcon field="RecordStatus" /> </th> 

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.Id}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.GradeCode}}</td>
 <td style="width:200px">{{obj.GradeName}}</td>
 <td style="width:200px">{{obj.ScoreFrom | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ScoreTo | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.IsLeaseable | yesNo }}</td>
 <td style="width:200px">{{obj.RecordStatus}}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  