<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		       <form [formGroup]="editForm" (ngSubmit)="Save()">
 				<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">					
							<label for="GradeCode">Grade Code 
							</label> 
							<input pInputText id="GradeCode" type="text" pSize="small"	formControlName="GradeCode"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('GradeCode')"
											label="Grade Code">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">					
							<label for="GradeName">Grade Name 
							</label> 
							<input pInputText id="GradeName" type="text" pSize="small"	formControlName="GradeName"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('GradeName')"
											label="Grade Name">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">							<label for="ScoreFrom">Score From 
							</label> 
							<p-inputNumber id="ScoreFrom"  pSize="small"	formControlName="ScoreFrom"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('ScoreFrom')"
											label="Score From">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">							<label for="ScoreTo">Score To 
							</label> 
							<p-inputNumber id="ScoreTo"  pSize="small"	formControlName="ScoreTo"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('ScoreTo')"
											label="Score To">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"><label class="pt-8"></label>
										<div class="flex items-center gap-2">
											<p-checkbox inputId="IsLeaseable" binary="true" formControlName="IsLeaseable">
											</p-checkbox>
											<label for="IsLeaseable">Is Leaseable</label>
										</div>
										<div class="validation-space"></div></div><div class="flex flex-col w-full">			
							<label for="EffectiveFrom">Effective From 
							</label> 
							<p-calendar id="EffectiveFrom"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveFrom"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveFrom')"
											label="Effective From">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="EffectiveTo">Effective To 
							</label> 
							<p-calendar id="EffectiveTo"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="EffectiveTo"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('EffectiveTo')"
											label="Effective To">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 	
                     </form>			 

			</div>
		</div>
	</div>
</div>

 

