<div class="grid"> 
	<div class="col-12">
		<div class="card"> 
            <app-message [AlertType]="'message'"></app-message> 
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="'DepositTransaction List'"
					[PageType]="'List'">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				<div class="col-12 md:col-6">
                    <p-inputGroup>                     
                        <input type="text" class="p-inputtext-sm" pInputText placeholder="Keyword" [(ngModel)]="objSearch.Name" />
						<button type="button" pButton label="Search"  class="btn-sm" (click)="search()" ></button>
                    </p-inputGroup>
                </div>
			<p-table [value]="lstMain" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="list-table" responsiveLayout="scroll">
				<ng-template pTemplate="header">
					<tr>
						<th pFrozenColumn pSortableColumn="Id" style="width:200px">Id <p-sortIcon field="Id" /> </th> 
						 <th style="width:200px">Customer Deposit Id <p-sortIcon field="CustomerDepositId" /> </th> 
<th style="width:200px">Transaction Type <p-sortIcon field="TransactionType" /> </th> 
<th style="width:200px">Transaction Date <p-sortIcon field="TransactionDate" /> </th> 
<th style="width:200px">Amount <p-sortIcon field="Amount" /> </th> 
<th style="width:200px">Payment Receipt Id <p-sortIcon field="PaymentReceiptId" /> </th> 
<th style="width:200px">Receivable Id <p-sortIcon field="ReceivableId" /> </th> 
<th style="width:200px">Reference Type <p-sortIcon field="ReferenceType" /> </th> 
<th style="width:200px">Reference Id <p-sortIcon field="ReferenceId" /> </th> 
<th style="width:200px">Approval Request Id <p-sortIcon field="ApprovalRequestId" /> </th> 
<th style="width:200px">Record Status <p-sortIcon field="RecordStatus" /> </th> 

					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-obj>
					<tr>
						<td style="width:200px" pFrozenColumn ><p-button label="{{obj.Id}}" [link]="true"  (click)="onDetailsClick(obj)" /> </td>
                         <td style="width:200px">{{obj.CustomerDepositId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.TransactionType}}</td>
 <td style="width:200px">{{obj.TransactionDate | date:'dd-MMM-yyyy' }}</td>
 <td style="width:200px">{{obj.Amount | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.PaymentReceiptId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ReceivableId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ReferenceType}}</td>
 <td style="width:200px">{{obj.ReferenceId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.ApprovalRequestId | number:'1.0':'en-US' }}</td>
 <td style="width:200px">{{obj.RecordStatus}}</td>
 
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div> 
</div>
  