<div class="container">
	<div class="grid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<app-message [AlertType]="'message'"></app-message>
				<app-toolbar-buttons (onItemClicked)="onOptionItemClicked($event)" [permission]="permission" [Caption]="Caption"
					[PageType]="'Details'" [form]="editForm">
				</app-toolbar-buttons> 
				<app-spinner></app-spinner>
				
		       <form [formGroup]="editForm" (ngSubmit)="Save()">
 				<p-fluid>
		      		<div class="flex mt-8">
					<div class="card flex flex-col gap-4 w-full"> 
 					<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Customer Deposit Id" class="mb-1">CustomerDepositId</label>
        <p-dropdown
            inputId="CustomerDepositId" 
            [options]="customerdepositidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="CustomerDepositId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('CustomerDepositId')"
											label="Customer Deposit Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Transaction Type" class="mb-1">TransactionType</label>
        <p-dropdown
            inputId="TransactionType" 
            [options]="transactiontypeOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="TransactionType"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('TransactionType')"
											label="Transaction Type">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">			
							<label for="TransactionDate">Transaction Date 
							</label> 
							<p-calendar id="TransactionDate"  size="small" dateFormat="dd-MM-yy" [showIcon]="true"
	formControlName="TransactionDate"  ></p-calendar>
	<app-validation-errors [type]="'date'" [control]="editForm.get('TransactionDate')"
											label="Transaction Date">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">							<label for="Amount">Amount 
							</label> 
							<p-inputNumber id="Amount"  pSize="small"	formControlName="Amount"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('Amount')"
											label="Amount">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Payment Receipt Id" class="mb-1">PaymentReceiptId</label>
        <p-dropdown
            inputId="PaymentReceiptId" 
            [options]="paymentreceiptidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="PaymentReceiptId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('PaymentReceiptId')"
											label="Payment Receipt Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Receivable Id" class="mb-1">ReceivableId</label>
        <p-dropdown
            inputId="ReceivableId" 
            [options]="receivableidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ReceivableId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ReceivableId')"
											label="Receivable Id">
										</app-validation-errors></div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full">					
							<label for="ReferenceType">Reference Type 
							</label> 
							<input pInputText id="ReferenceType" type="text" pSize="small"	formControlName="ReferenceType"  />
							<app-validation-errors [type]="'text'" [control]="editForm.get('ReferenceType')"
											label="Reference Type">
										</app-validation-errors>
						 </div><div class="flex flex-col w-full">							<label for="ReferenceId">Reference Id 
							</label> 
							<p-inputNumber id="ReferenceId"  pSize="small"	formControlName="ReferenceId"  >
</p-inputNumber>
<app-validation-errors [type]="'number'" [control]="editForm.get('ReferenceId')"
											label="Reference Id">
										</app-validation-errors>
						 </div></div>
<div class="flex flex-col md:flex-row gap-4"><div class="flex flex-col w-full"> <label for="Approval Request Id" class="mb-1">ApprovalRequestId</label>
        <p-dropdown
            inputId="ApprovalRequestId" 
            [options]="approvalrequestidOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="ApprovalRequestId"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('ApprovalRequestId')"
											label="Approval Request Id">
										</app-validation-errors></div><div class="flex flex-col w-full"> <label for="Record Status" class="mb-1">RecordStatus</label>
        <p-dropdown
            inputId="RecordStatus" 
            [options]="recordstatusOptions"
            optionLabel="Text"
	    optionValue="Value"
	    formControlName="RecordStatus"
            placeholder="Select One"
            class="w-full">
        </p-dropdown>
      <app-validation-errors [type]="'text'" [control]="editForm.get('RecordStatus')"
											label="Record Status">
										</app-validation-errors></div></div>

					</div>
				</div>
 			</p-fluid> 	
                     </form>			 

			</div>
		</div>
	</div>
</div>

 

